/* You can add global styles to this file, and also import other style files */

html{
  top: 00px;

  /* width: 0px;
  height: 0px; */
}
.page-bg
{
  background-color: #171717;
  font-family: 'Poppins', sans-serif;
}
.nav-bg{
  background-color: #001a33;
  font-family: 'Poppins', sans-serif;
}
