
<input type="file" style="display: none;" #image (change)="previewImage()">
<div class="button-holder">
<div class="upload-btn"  (click)="image.click()">
  <div class="wrapper">
    <div class="file-select">
      <i class="fa fa-image"></i>
    </div>
  </div>
</div>

<div class="upload-btn"  (click)="uploadChatBackground()">
  <div class="wrapper">
    <div class="file-upload">
      <i class="fa fa-arrow-up"></i>
    </div>
  </div>
</div>

<div class="upload-btn"  (click)="cancelSelect()" >
  <div class="wrapper">
    <div class="file-cancel">
      <i class="fa fa-xmark"></i>
    </div>
  </div>
</div>
</div>
  <img src="" alt="" #previewImageElement style="max-width: 100%; max-height: 300px;display: none;">
<div class="mock-conversation">
  <div class='dialog' *ngIf="visible"  style="left:103px;">
    <h3>Uploading the picture</h3>
    <i *ngIf="!showSpinner" class="pi pi-times" style="margin-top: -30px;float:right;font-size: 1rem;cursor:pointer" (click)="closeDelete()"></i>
    <div *ngIf="!showSpinner">
    <i class="pi pi-check-circle" style="font-size: 35px;margin-top: 38px;margin-left: 246px;margin-right: 20px;"></i>
    <br>
    <span style="position: relative;right:-160px">Chat Background Updated!!</span>
    <br>
    <span style="position: relative;right:-91px">Reload the chat page a few times to see results</span>
    </div>
    <div *ngIf="showSpinner">
      <p-progressSpinner [style]="{top:'12px',left:'241px'}"></p-progressSpinner>
    </div>

  </div>
<div class="user-bar" [style.background]="averageHue">
  <div class="avatar">
    <img [src]="userparsed?.profilePicture" referrerpolicy="no-referrer" alt="Avatar">
  </div>
  <div class="name">
    <span>{{userparsed?.name}}</span>
  </div>
</div>

<div class="conversation" [style.background-image]="fileSelected ? 'url(' + previewImageElement.src + ')' : 'url(' + chatBackGroundUrl + ')'">
  <div #messageContainer class="conversation-container">
    <div>
      <ng-container>
          <div class="message received" >
            mock incoming text
            <span class="metadata">
              <span class="time"></span>
            </span>
          </div>

          <div class="message sent">
            mock outgoing text
            <span class="metadata" >
              <span class="time"></span>
            </span>
          </div>

      </ng-container>
    </div>
  </div>
  <form class="conversation-compose">
    <div class="emoji">
      <a style="cursor: pointer;"> 😀</a><br>
    </div>
    <input #msg class="input-msg" style="background-color: #00000082;
    color: white;" name="input" placeholder="Type a message" autocomplete="off" autofocus>
    <button class="send">
      <div class="circle">
        <i class="fa-sharp fa-solid fa-location-arrow"></i>
      </div>
    </button>
  </form>
  <div #menu *ngIf="showEmojiPicker">
    <emoji-mart class="emoji-mart" set="google" ></emoji-mart>
  </div>
</div>
</div>
