#main {
  min-height: 110vh;
  position: relative;
  background-color:#171717 ;
  padding-top: 100px;
  overflow-y: scroll;
}
.con{
  height: 150px;
  border-radius: 20px;
  color: rgb(249, 250, 250);
  background-color: #262626;
  width: 55rem;
  text-align: center;
  margin-left: 218px;
}
.posi{
  border-radius: 20px;
}
body{
  margin-top:20px;
  background:#262626;
  }
  .card {
  margin-bottom: 1.5rem;
  box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
  }
  .card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #262626;
  background-clip: border-box;
  border: 1px solid #262626;
  border-radius: .2rem;
  }
  .card-header:first-child {
  border-radius: calc(.2rem - 1px) calc(.2rem - 1px) 0 0;
  }
  .card-header {
  border-bottom-width: 1px;
  }
  .card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  color: inherit;
  background-color: #262626;
  border-bottom: 1px solid #262626;
  }
  .list-group-item{
    background-color: #262626;
    color: antiquewhite;
  }
  .button {
    display: inline-block;
    background-color: #697663;
    padding: 12px 25px;
    color: white;
    margin-top: 40px;
    text-decoration: none;
    border: 2px solid #697663;
    border-radius: 25px;
    transition: all 0.2s ease-out;
  }
