#main {
  min-height: 110vh;
  position: relative;
  background-color:#171717 ;
  padding-top: 100px;
  overflow-y: scroll;
}
.con{
  height: 150px;
  border-radius: 20px;
  color: rgb(249, 250, 250);
  background-color: #262626;
  width: 55rem;
  text-align: center;
  margin-left: 218px;
}
.posi{
  border-radius: 20px;
}
