<main id="main" [style.background-image]="'url(' + userparsed?.theme?.homeBg + ')'">

  <!-- new -->
  <div class="container p-0" style="color: antiquewhite;">
    <h1 class="h3 mb-3" style="color: antiquewhite;position: absolute;left: 40px;">Settings</h1>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-md-5 col-xl-4">
        <div class="card">
          <!-- <div class="card-header">
            <h5 class="card-title mb-0">Profile Settings</h5>
          </div> -->

            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <button class="nav-link" [class.active]="this.tab=='account-settings'" [routerLink]="['/settings']" [queryParams]="{tab: 'account-settings'}" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" >Account</button>
              <button class="nav-link" [class.active]="this.tab=='privacy-settings'" [routerLink]="['/settings']" [queryParams]="{tab: 'privacy-settings'}" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" >Privacy and safety</button>
              <button class="nav-link" [class.active]="this.tab=='notification-settings'" [routerLink]="['/settings']" [queryParams]="{tab: 'notification-settings'}" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" >Notification</button>
              <button class="nav-link" [class.active]="this.tab=='theme-settings'" [routerLink]="['/settings']" [queryParams]="{tab: 'theme-settings'}" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" >Themes</button>
            </div>
            <!-- <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">abc</div>
              <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">xyz</div>
              <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
              <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
            </div> -->

        </div>
      </div>
      <div class="col">
        <div class="tab-content">
          <div class="tab-pane fade" [class.show]="this.tab=='account-settings'" [class.active]="this.tab=='account-settings'" role="tabpanel" id="v-pills-home" aria-labelledby="v-pills-home-tab">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title mb-0">Public info</h5>
              </div>
              <div class="card-body">
                <form>
                  <div class="row1">
                    <div class="col-md-8">
                      <div class="form-group">
                        <label for="inputUsername">Username</label>
                        <input type="text" class="form-control" id="inputUsername" placeholder="{{userparsed?.name}}" [(ngModel)]="newUserName" [ngModelOptions]="{standalone: true}">
                      </div>
                      <div class="form-group" style="margin-top: 40px;">
                        <label for="inputUsername">Biography</label>
                        <textarea  placeholder="{{bio}}" class="form-control" id="bio-text" [(ngModel)]="bio" [ngModelOptions]="{standalone: true}"></textarea>
                      </div>
                    </div>

                  </div>
                  <button type="submit" class="button" (click)="changeName();updateBio()">Save changes</button>
                </form>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h5 class="card-title mb-0">Private info</h5>
              </div>
              <div class="card-body">
                <div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputFirstName">Username</label>
                      <input type="text" class="form-control disabled" id="inputFirstName"  value={{userparsed?.name}} readonly>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control disabled" id="inputEmail4" value={{userparsed?.gmailId}} disabled>
                  </div>
                  <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="inputAddress" [(ngModel)]="userInfo.Address" value={{info?.Address}}>
                  </div>
                  <div class="form-group">
                    <label for="inputCountry">Country</label>
                    <input type="text" [typeahead]="countries" class="form-control" id="inputCountry" [isAnimated]="true" [(ngModel)]="userInfo.Country" value={{info?.Country}}>
                  </div>
                  <div class="form-group">
                    <label for="inputGender">Gender</label>
                    <input type="text" [typeahead]="gender" class="form-control" id="inputGender" [isAnimated]="true" [(ngModel)]="userInfo.Gender" value={{info?.Gender}}>
                  </div>
                  <div class="form-group">
                    <label for="inputLanguage">Language</label>
                    <input type="text" [typeahead]="languages" class="form-control" id="inputLanguage" [isAnimated]="true" [(ngModel)]="userInfo.Language" value={{info?.Language}}>
                  </div>
                  <!-- <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputCity">City</label>
                      <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputState">State</label>
                      <select id="inputState" class="form-control">
                        <option selected="">Choose...</option>
                        <option>...</option>
                      </select>
                    </div>
                    <div class="form-group col-md-2">
                      <label for="inputZip">Zip</label>
                      <input type="text" class="form-control" id="inputZip">
                    </div>
                  </div> -->
                  <button type="submit" class="button" (click)="updateinfo();">Save changes</button>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" [class.show]="this.tab=='privacy-settings'" [class.active]="this.tab=='privacy-settings'" role="tabpanel" id="v-pills-profile" aria-labelledby="v-pills-home-tab">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Password</h5>
                <form>
                  <div class="form-group">
                    <label for="inputPasswordCurrent">Current password</label>
                    <input type="password" class="form-control" id="inputPasswordCurrent">
                    <small><a href="#">Forgot your password?</a></small>
                  </div>
                  <div class="form-group">
                    <label for="inputPasswordNew">New password</label>
                    <input type="password" class="form-control" id="inputPasswordNew">
                  </div>
                  <div class="form-group">
                    <label for="inputPasswordNew2">Verify password</label>
                    <input type="password" class="form-control" id="inputPasswordNew2">
                  </div>
                  <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">FriendList Privacy</h5>
                <div>
                  <span>Can your friends see your FriendList??</span>
                  <span style="margin-left: 25px;" (click)="updateFriendListVis()">
                  <p-checkbox  [(ngModel)]="userInfo.frnd_list_vis" [binary]="true" inputId="binary"></p-checkbox></span>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" [class.show]="this.tab=='notification-settings'" [class.active]="this.tab=='notification-settings'" role="tabpanel" id="v-pills-messages" aria-labelledby="v-pills-messages-tab">
            <app-notification></app-notification>
          </div>
          <div class="tab-pane fade" [class.show]="this.tab=='theme-settings'" [class.active]="this.tab=='theme-settings'" role="tabpanel" id="v-pills-settings" aria-labelledby="v-pills-settings-tab">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Themes</h5>
                  <app-theme-settings></app-theme-settings>
                  <!-- <app-chat-settings></app-chat-settings> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
