<ng-container *ngFor="let post of ownPosts">
<div class="container mt-5 mb-5">
  <!-- <div class="row d-flex align-items-center justify-content-center"> -->
      <div class="col-md-6">
          <div class="card">
              <div class="d-flex justify-content-between p-2 px-3">
                  <div class="d-flex flex-row align-items-center"> <img [src]="post?.profilePicture" width="50" class="rounded-circle" >
                      <div class="d-flex flex-column ml-2"> <span class="font-weight-bold" style="margin-left: 10px;">{{post?.name}}</span><span style="margin-left: 10px;">{{this.utcToLocal(post?.createdAt)}}</span></div>
                  </div>
              </div>
              <div class="p-3">
              <p class="text-justify">{{post.description}}</p>
              <ng-container *ngFor="let tag of post.tagArr">
                <a class="text-justify" style="cursor: pointer; margin-left: 15px;">{{"#"+tag}}</a>
              </ng-container>
            </div>
            <ng-container *ngIf="post.photoUrl.length!=0" >
            <carousel >
              <slide *ngFor="let img of post.urlArr">
                <img [src]="img" alt="first slide" style="display: block; height: 40rem; width: 100%;">
              </slide>
            </carousel>
          </ng-container>
              <div class="p-2">
                <div class="d-flex justify-content-between align-items-center" style="height: 50px;">
                  <div class="like">
                  <input type="checkbox" id="r1">
                    <label for="r1" class="react">
                      <i data-icon="https://em-content.zobj.net/thumbs/320/apple/129/fire_1f525.png"></i>
                    </label>Like
                  </div>
                  <div class="comment-btn">Comment</div>
                  <div class="share"><i class='fa fa-share' style='color:#faf9f5'></i>Share</div> 
                </div> 
              </div>
          </div>
      </div>
  <!-- </div> -->
</div>
</ng-container>
