<ng-container *ngIf="unlinked">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <p style="color: aliceblue;">linked-accounts works!</p>
  <a type="button" href="http://localhost:3000/auth/steam">Link Steam</a>
</ng-container>
<ng-container *ngIf="linked">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <p style="color: aliceblue;">Steam account linked</p>
  <a href="https://steamcommunity.com/profiles/{{steamId}}" target="_blank">
  <i class="fa-brands fa-steam fa-3x" ></i>
  </a>
  <!-- <button type="button" (click)="deleteSteamId()">Unlink Steam</button> -->
</ng-container>
