 <ng-container *ngIf="unlinked">
    <div class="container text-left">
     <div class="row">
       <div class="col">
         <a type="button" href="http://localhost:3000/auth/steam"><i class="fa-solid fa-link fa-2x"></i></a>

       </div>
     </div>
   </div>
  <!-- <p style="color: aliceblue;">linked-accounts works!</p>
  <a type="button" href="http://localhost:3000/auth/steam">Link Steam</a> -->
</ng-container>
<ng-container *ngIf="linked">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        
      </div>
      <div class="col">

      </div>
      <div class="col">
        <a type="button" href="https://steamcommunity.com/profiles/{{steamId}}" target="_blank"><i class="fa-brands fa-steam fa-3x" ></i></a>
      </div>
    </div>
  </div>


</ng-container>

 <!-- <div>
 <div class="container text-left">
  <div class="row">
    <div class="col">
      <a type="button" href="http://localhost:3000/auth/steam"><i class="fa-solid fa-link fa-2x"></i></a>

    </div>
  </div>
</div>
<div class="container text-left">
  <div class="row">
    <div class="col">
      Column
    </div>
  </div>
</div>
</div> -->
