<div class="main">
  <div *ngIf="currentPage ===0">
    <div>
      <app-login-userinfo (childEvent)="next()"></app-login-userinfo>
    </div>
  </div>
  <div *ngIf="currentPage===1">
    <div class="glass ngoninit ">
      <app-welcome-link-account (childEvent)="next()"></app-welcome-link-account>
    </div>
    <div class="frosted-bg">
    </div>
  </div>
  <div *ngIf="currentPage===2">
    <div class="glass-prefered-games ngoninit ">
      <app-preferred-games (childEvent)="next()"></app-preferred-games>
    </div>
</div>
    <div class="frosted-bg">
    </div>
  <div *ngIf="currentPage===3">
    <div class="glass-friend-suggest ngoninit ">
      <app-friend-suggestion (childEvent)="next()"></app-friend-suggestion>
    </div>
    <div class="frosted-bg">
    </div>
  </div>
</div>






