<div class="profile-page-inner">
  <div class="profile-page-item flexbox">
    <ng-container *ngIf="ownProfile">
      <ng-container *ngFor="let game of MobileGameList let i=index">
        <div *ngIf="game.selected">
          <div class="card tp-box">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <img class="gamepic tp-box tp-box__side tp-box__front" [src]="game.photo">
            <div class=" card tp-box tp-box__side tp-box__back" style="background-color: #262626;">Need to find API</div>
          </div>
        </div>
    </ng-container>
    <ng-container *ngFor="let game of selectedList; let i=index">
      <div *ngIf="game[1]">
        <div class="card tp-box">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <img class="gamepic tp-box tp-box__side tp-box__front" src="https://steamcdn-a.akamaihd.net/steam/apps/{{game[0].appid}}/library_600x900.jpg">
          <div class=" card tp-box tp-box__side tp-box__back" style="background-color: #262626;">Total Play-Time {{(game[0].playtime_forever/60).toFixed(2)}} Hours</div>
        </div>
      </div>
  </ng-container>
</ng-container>
<ng-container *ngIf="!ownProfile">
  <ng-container *ngFor="let game of MobileGameList let i=index">
    <div *ngIf="game.selected">
      <div class="card tp-box">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <img class="gamepic tp-box tp-box__side tp-box__front" [src]="game.photo">
        <div class=" card tp-box tp-box__side tp-box__back" style="background-color: #262626;">Need to find API</div>
      </div>
    </div>
</ng-container>
  <ng-container  *ngFor="let game of showcase;let i=index">
    <div class="card tp-box">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <img class="gamepic tp-box tp-box__side tp-box__front" src="https://steamcdn-a.akamaihd.net/steam/apps/{{game.appid}}/library_600x900.jpg">
          <div class=" card tp-box tp-box__side tp-box__back" style="background-color: #262626;">Total Play-Time {{(game.playtime_forever/60).toFixed(2)}} Hours</div>
    </div>
</ng-container>
</ng-container>
    <div class="card-cust" (click)="saveOwnedGames();openScrollableContent(longContent)" *ngIf="ownProfile">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <i class="fa fa-plus-circle" style="font-size:130px;color:rgb(245, 245, 245)"></i>
    </div>

    <ng-template #longContent let-modal style="background-color: currentColor;">
      <div class="modal-header" style="background-color: currentColor;">
        <h4 class="modal-title" style="color: white;">Select Games</h4>
        <input [(ngModel)]="gameSearch" class="form-control" placeholder="Search" style="margin-left: 15px;margin-right: 25px;" (keyup)="searchGames()">
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body" style="overflow-y:scroll; max-height:70vh; background-color: currentColor;">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="background-color:#495057;color: antiquewhite;">
                Mobile Games
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body" style="background-color:#171717;">
                <div *ngFor="let game of MobileGameList;let i=index">
                  <div class="input-group mb-3" style="cursor:pointer">
                    <div class="input-group-text" style="background-color: currentColor;">
                      <input class="form-check-input mt-0" type="checkbox" value="" style="border-color: chartreuse;"
                        aria-label="Checkbox for following text input" (change)="changeMobile(i)" [checked]="game.selected" style="background-color: currentColor;">
                    </div>
                    <span type="text" class="form-control" aria-label="Text input with checkbox" style="background-color: currentColor;"><span style="color: white;">{{game.name}}</span></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" style="background-color:#495057;color: antiquewhite;">
                Your Steam Games
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body" style="background-color:#171717;">
                <div *ngFor="let game of result;let i=index">
                  <div class="input-group mb-3" style="cursor:pointer">
                    <div class="input-group-text" style="background-color: currentColor;">
                      <input class="form-check-input mt-0" type="checkbox" value=""
                        aria-label="Checkbox for following text input" (change)="changeSteam(i)" [checked]="game[1]" style="background-color: currentColor;">
                    </div>
                    <span type="text" class="form-control" aria-label="Text input with checkbox" style="background-color: currentColor;"><span style="color: white;">{{game[0].name}}</span></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-between" style="background-color: currentColor;">
        <button type="button" class="btn btn-light" (click)="close()">Close</button>
        <button type="button" class="btn btn-light" (click)="submit()">Save</button>
      </div>
    </ng-template>

  </div>
</div>
