@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
/* @import '~@ctrl/ngx-emoji-mart/picker'; */
* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: var(--app-bg);
  font-family: "DM Sans", sans-serif;
  --text-dark: #1a2f45;
  --text-light: #445e78;
  --chat-box-dark: #1b243b;
  --chat-box-light: #fff;
  --button-text: #fff;
  --toggle-ball: #fff;
  --list-item-active: #e5effb;
  --number-bg: #6895A3;
  --message-box-1: #fff;
  --message-box-2: #1a233b;
  --chat-input: bisque;
  --border-light: #8187a2;
  --info-box-color-1: #004dfc;
  --info-box-color-2: #00ba9d;
  --info-box-color-3: #715fc2;
  --info-box-color-4: #ff562d;
  --info-icon-bg-1: #b1c7fc;
  --info-icon-bg-2: #c6f0ea;
  --info-icon-bg-3: #d9d3ff;
  --info-icon-bg-4: #ffe1d4;
  --app-bg: #060415;
  --box-color: #12172d;
  --box-border: #477eff;
  --button-bg: #477eff;
  --text-dark: rgba(255,255,255,1);
  --text-light: rgba(255,255,255,.6);
  --info-box-1: rgba(160, 186, 242, 0.5);
  --info-box-2: rgba(168, 240, 229, 0.55);
  --info-box-3: rgba(194, 168, 240, 0.34);
  --info-box-4: rgba(240, 185, 168, 0.34);
  --toggle-bg: #477eff;
  --toggle-bg-off: #6895a3;
  --message-box-2: #477eff;
  --message-box-1: #576c99;
  --logo-path-1: #477eff;
  --logo-path-2: #576c99;
  --box-shadow: rgba( 18, 23, 45 ,.6) 0px 8px 24px;
  --scrollbar-thumb: linear-gradient(to bottom, rgba(43, 88, 118, .8), rgba(78, 67, 118, .8));
}
body[data-theme=indigo], body[data-theme=pink] {
  --app-bg: #fff;
  --box-color: #f5f8fc;
  --box-border: #e7edf5;
  --text-dark: #1a2f45;
  --text-light: #445e78;
  --chat-box-dark: #1b243b;
  --chat-box-light: #fff;
  --button-bg: #004dfc;
  --button-text: #fff;
  --toggle-bg: #004dfc;
  --toggle-bg-off: #6895A3;
  --toggle-ball: #fff;
  --logo-path-1: #A0C9E1;
  --logo-path-2: #18689C;
  --list-item-active: #e5effb;
  --number-bg: #6895A3;
  --message-box-1: #fff;
  --message-box-2: #1a233b;
  --chat-input: #f5f8fc;
  --border-light: #e5e6eb;
  --info-box-1: rgba( 217, 228, 252 ,1);
  --info-box-2: rgba( 226, 246, 243 ,1);
  --info-box-3: #f7f3ff;
  --info-box-4: #fff1e9;
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --info-box-3: #b3a5ce;
  --info-box-4: #ffceb3;
  --scrollbar-thumb: linear-gradient(to top, rgba(131, 164, 212, .5), rgb(182, 188 ,255 , 0.4));
}
body[data-theme=dark] {
  --app-bg: #040508;
  --box-color: #131a24;
  --box-border: #131a24;
  --button-bg: #1e2b4a;
  --toggle-bg: #477eff;
  --toggle-bg-off: #6895a3;
  --message-box-2: #1e2b4a;
  --message-box-1: #576c99;
  --chat-input: #040508;
  --border-light: #040508;
}

.app-container {
  padding-top: 100px;
  float: initial;
  justify-content: left;
  background: #171717;
  display: flex;
  min-height: 100vh;
  height: 640px;
  width: 100%;
}

.app-left {
  justify-content: right;
  flex-basis: 320px;
  flex-shrink: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 480px;
  margin-right: 100px;
  margin-left:24px;
  overflow-y: auto;
}

.app-left-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--app-bg);
}
.app-left-header h1 {
  margin: 0;
  font-size: 20px;
  color: white;
  margin-left: 12px;
}

.app-logo svg {
  width: 40px;
  height: 40px;
}
.app-logo svg .path-1 {
  fill: grey;
}
.app-logo svg .path-2 {
  fill: white;
}

.app-profile-box-text-align-left {
  border: 1px solid var(--box-border);
  background-color: #262626;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  /* border-radius: 10px; */
  /* margin-bottom: 24px;/ */
}

.app-profile-box {
  border: 1px solid var(--box-border);
  background-color: #262626;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 24px;
}
.app-profile-box img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.app-profile-box-name {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: var(--text-dark);
  margin: 4px 0;
  display: flex;
  align-items: center;
}
.app-profile-box-title {
  font-size: 12px;
  line-height: 16px;
  color: var(--text-light);
  margin: 0;
}

.switch-status {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.switch-status input {
  opacity: 1;
  position: absolute;
  width: 0;
  height: 0;
}
.switch-status input:checked + label {
  background-color: var(--toggle-bg);
}
.switch-status input:checked + label:before {
  left: 12px;
}
.switch-status input:checked ~ .toggle-offline {
  display: none;
}
.switch-status input:checked ~ .toggle-online {
  display: inline;
}

.toggle-text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: var(--text-light);
}

.toggle-online {
  display: none;
}

.toggle-offline {
  display: inline-block;
}

.label-toggle {
  background-color: var(--toggle-bg-off);
  border-radius: 24px;
  width: 24px;
  height: 14px;
  display: inline-block;
  margin-right: 4px;
  position: relative;
  transition: 0.2s;
  cursor: pointer;
}
.label-toggle:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left: 2px;
  top: 50%;
  transform: translatey(-50%);
  border-radius: 50%;
  background-color: var(--toggle-ball);
  transition: all 0.2s ease;
}

.toggle-text {
  font-size: 12px;
  line-height: 16px;
}

.app-setting {
  padding: 0;
  border: none;
  background-color: transparent;
  color: var(--text-dark);
  margin-left: 4px;
}
/*start cut*/


.chat-list-item {
  transition: 0.2s;
  padding: 8px 14px;
  margin: 0;
  border-radius: 6px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
  /* width: auto; */
}
.chat-list:hover{
  /* border: 1px solid; */
  background: rgb(10, 10, 10);
  border-radius: 10px;
}
.chat-list-item.active {
  background-color: var(--box-color);
}
.chat-list-item.active span {
  color: whitesmoke;
  font-weight: 700;
}
.chat-list-item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 8px;
}
.chat-list-item:hover {
  background-color: var(--box-color);
}
.chat-list-name {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: var(--text-light);
}
.chat-list-header {
  font-weight: 700;
  line-height: 24px;
  font-size: 16px;
  color: whitesmoke;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 40px;
}
.chat-list-header .c-number {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-bg);
  color: #e3d319;
  font-weight: 500;
  font-size: 12px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-left: 8px;
}

.list-header-arrow {
  margin-left: auto;
  transform: rotate(180deg);
  transition: 0.2s ease;
}
.chat-list-header.active .list-header-arrow {
  transform: rotate(0deg);
}

/*cut stop*/
.app-right {
  position: relative;
    flex-shrink: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 480px;
    margin-right: 24px;
    margin-left: auto;
    overflow-y: auto;
    overflow-x: auto;
}

.app-right .app-profile-box-title {
  width: 100%;
  color: var(--text-dark);
  display: flex;
  align-items: center;
}
.app-right .app-profile-box-title svg {
  width: 16px;
  margin-right: 6px;
}

.archive-btn {
  color: #fff;
  height: 32px;
  margin-top: 16px;
  border-radius: 4px;
  background-color: var(--button-bg);
  display: flex;
  align-items: center;
  font-size: 14px;
  border: none;
}
.archive-btn svg {
  margin-left: 6px;
}

.app-activity-box {
  border-radius: 10px;
  padding: 16px 16px 8px 16px;
  border: 1px solid var(--box-border);
  background-color: var(--box-color);
}

.activity-info-boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.activity-info-box {
  width: 48%;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 8px;
  display: flex;
}
.activity-info-box.time {
  background-color: var(--info-box-1);
  color: var(--info-box-color-1);
}
.activity-info-box.time .info-icon-wrapper {
  background-color: var(--info-icon-bg-1);
}
.activity-info-box.atendee {
  background-color: var(--info-box-2);
  color: var(--info-box-color-2);
}
.activity-info-box.atendee .info-icon-wrapper {
  background-color: var(--info-icon-bg-2);
}
.activity-info-box.meeting {
  background-color: var(--info-box-3);
  color: var(--info-box-color-3);
}
.activity-info-box.meeting .info-icon-wrapper {
  background-color: var(--info-icon-bg-3);
}
.activity-info-box.reject {
  background-color: var(--info-box-4);
  color: var(--info-box-color-4);
}
.activity-info-box.reject .info-icon-wrapper {
  background-color: var(--info-icon-bg-4);
}

.info-icon-wrapper {
  border-radius: 50%;
  margin-right: 4px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-icon-wrapper svg {
  width: 16px;
  height: 16px;
}

.info-text-wrapper span {
  display: block;
}

.info-text-upper {
  font-size: 14px;
  font-weight: 700;
}

.info-text-bottom {
  font-size: 10px;
  color: var(--text-light);
}

.activity-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px;
  margin-top: 16px;
}

.info-header-bold {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: var(--text-dark);
}

.info-header-light {
  color: var(--text-light);
  font-size: 12px;
  line-height: 24px;
}

.activity-days-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 64px;
}
.day.current .chart {
  opacity: 1;
  transform: scale(1.2);
  transform-origin: bottom;
}
.day:first-child .chart {
  height: 20%;
}
.day:nth-child(3) .chart {
  height: 100%;
}
.day .chart {
  border-radius: 6px;
  height: 50%;
  width: 6px;
  background-color: var(--button-bg);
  opacity: 0.5;
  position: relative;
}
.day .chart:before {
  content: "";
  position: absolute;
  background-color: var(--button-bg);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  top: calc(100% + 4px);
}
.day span {
  margin-top: 20px;
  display: block;
  font-size: 10px;
  color: var(--text-light);
}

.app-right-bottom {
  position: fixed;
  bottom: 0;
  right: 24px;
  z-index: 1;
  background-color: var(--app-bg);
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  padding-bottom: 10px;
}

.app-theme-selector {
  background-color: var(--box-color);
  box-shadow: var(--box-shadow);
  border: 1px solid var(--box-border);
  display: flex;
  justify-content: flex-end;
  width: auto;
  padding: 10px;
  border-radius: 6px;
}

.theme-color {
  width: 24px;
  height: 24px;
  margin-left: 4px;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: #fff;
  cursor: pointer;
}
.theme-color.active {
  border: 1px solid #477eff;
  box-shadow: 0 0 0 3px rgba(71, 126, 255, 0.2);
}
.theme-color svg {
  width: 14px;
  height: 14px;
}
.theme-color.indigo {
  background-color: #18689C;
}
.theme-color.pink {
  background-color: #e8d5db;
}
.theme-color.dark {
  background-color: #060415;
}
.theme-color.navy-dark {
  background-color: #192734;
  color: #fff;
}

.open-left, .open-right {
  position: absolute;
  padding: 0;
  display: none;
  width: 20px;
  height: 20px;
  background-color: var(--box-color);
  box-shadow: var(--box-shadow);
  border: 1px solid var(--box-border);
  border-radius: 4px;
  top: 24px;
}

.open-left {
  left: 0;
}

.open-right {
  right: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--scrollbar-thumb);
}

@media screen and (max-width: 1025px) {
  .app-left {
    transform: translateX(-100%);
    position: absolute;
    opacity: 0;
    top: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    transition: all 300ms cubic-bezier(0.19, 1, 0.56, 1);
  }
  .app-left.open {
    transform: translateX(0);
    opacity: 1;
  }

  .open-left {
    display: block;
  }
}
@media screen and (max-width: 680px) {
  .app-right {
    transform: translateX(100%);
    position: absolute;
    opacity: 0;
    top: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    transition: all 300ms cubic-bezier(0.19, 1, 0.56, 1);
  }
  .app-right.open {
    transform: translateX(0);
    opacity: 1;
  }

  .open-right {
    display: block;
  }

  .app-theme-selector {
    position: fixed;
    bottom: 0;
  }

  .app-main {
    height: calc(100% - 48px);
  }
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*new*/
/* Chat */

.chat {
  height: calc(100% - 69px);
  border-radius: 10%;
}

.chat-container {
  height: inherit;
}

/* User Bar */
.user-bar {
  height: 55px;
  background: #343a40;
  color: #fff;
  padding: 0 8px;
  font-size: 24px;
  position: relative;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  z-index: 1;
}

.user-bar:after {
  content: "";
  display: table;
  clear: both;
}

.user-bar div {
  float: left;
  transform: translateY(-50%);
  position: relative;
  top: 50%;
}

.user-bar .actions {
  float: right;
  margin: 0 0 0 20px;
}

.user-bar .actions.more {
  margin: 0 12px 0 32px;
}

.user-bar .actions.attachment {
  margin: 0 0 0 30px;
}

.user-bar .actions.attachment i {
  display: block;
  transform: rotate(-45deg);
}

.user-bar .avatar {
  margin: 0 0 0 5px;
  width: 36px;
  height: 36px;
}

.user-bar .avatar img {
  border-radius: 50%;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  display: block;
  width: 100%;
}

.user-bar .name {
  font-size: 17px;
  font-weight: 600;
  text-overflow: ellipsis;
  letter-spacing: 0.3px;
  margin: 0 0 0 8px;
  overflow: visible;
  white-space: nowrap;
  width: 110px;
}

.user-bar .status {
  display: block;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
}

/* Conversation */

.conversation {
  justify-content: space-between;
  height: calc(100% - 12px);
  width: 1130px;
  position: relative;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-repeat: no-repeat;
  background-color: currentColor;
  /* background-attachment: fixed; */
  background-position: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 0;
}

.conversation ::-webkit-scrollbar {
  transition: all .5s;
  width: 5px;
  height: 1px;
  z-index: 10;
}

.conversation ::-webkit-scrollbar-track {
  background: transparent;
}

.conversation ::-webkit-scrollbar-thumb {
  background: #b3ada7;
}

.conversation .conversation-container {
  height: calc(100% - 68px);
  box-shadow: inset 0 10px 10px -10px #000000;
  overflow-x: hidden;
  padding: 0 16px;
  margin-bottom: 5px;
}

.conversation .conversation-container:after {
  content: "";
  display: block;
  clear: both;
}

/* Messages */

.message {
  color: #000;
  clear: both;
  line-height: 18px;
  font-size: 15px;
  padding: 8px;
  position: relative;
  margin: 8px 0;
  max-width: 85%;
  word-wrap: break-word;
  z-index: -1;
}

.message:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
}

.metadata {
  display: inline-block;
  float: right;
  padding: 0 0 0 7px;
  position: relative;
  bottom: -4px;
}

.metadata .time {
  color: rgba(0, 0, 0, .45);
  font-size: 11px;
  display: inline-block;
}

.metadata .tick {
  display: inline-block;
  margin-left: 2px;
  position: relative;
  top: 4px;
  height: 16px;
  width: 16px;
}

.metadata .tick svg {
  position: absolute;
  transition: .5s ease-in-out;
}

.metadata .tick svg:first-child {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: perspective(800px) rotateY(180deg);
          transform: perspective(800px) rotateY(180deg);
}

.metadata .tick svg:last-child {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: perspective(800px) rotateY(0deg);
          transform: perspective(800px) rotateY(0deg);
}

.metadata .tick-animation svg:first-child {
  -webkit-transform: perspective(800px) rotateY(0);
          transform: perspective(800px) rotateY(0);
}

.metadata .tick-animation svg:last-child {
  -webkit-transform: perspective(800px) rotateY(-179.9deg);
          transform: perspective(800px) rotateY(-179.9deg);
}

.message:first-child {
  margin: 16px 0 8px;
}

.message.received {
  background: #fff;
  border-radius: 0px 5px 5px 5px;
  float: left;
}

.message.received .metadata {
  padding: 0 0 0 16px;
}

.message.received:after {
  border-width: 0px 10px 10px 0;
  border-color: transparent #fff transparent transparent;
  top: 0;
  left: -10px;
}

.message.sent {
  background: #e1ffc7;
  border-radius: 5px 0px 5px 5px;
  float: right;
}

.message.sent:after {
  border-width: 0px 0 10px 10px;
  border-color: transparent transparent transparent #e1ffc7;
  top: 0;
  right: -10px;
}

/* Compose */

.conversation-compose {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  overflow: hidden;
  height: 50px;
  width: 100%;
  z-index: 2;
}

.conversation-compose div,
.conversation-compose input {
  background: #fff;
  height: 100%;
}

.conversation-compose .emoji {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 5px 0 0 5px;
  flex: 0 0 auto;
  margin-left: 8px;
  width: 48px;
}

.conversation-compose .input-msg {
  border: 0;
  border-radius: 0px 5px 5px 0px;
  flex: 1 1 auto;
  font-size: 16px;
  margin: 0;
  outline: none;
  min-width: 50px;
}

.conversation-compose .photo {
  flex: 0 0 auto;
  border-radius: 0 0 5px 0;
  text-align: center;
  position: relative;
  width: 48px;
}

.conversation-compose .photo:after {
  border-width: 0px 0 10px 10px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
  position: absolute;
  width: 0;
  height: 0;
  content: "";
  top: 0;
  right: -10px;
}

.conversation-compose .photo i {
  display: block;
  color: #7d8488;
  font-size: 24px;
  transform: translate(-50%, -50%);
  position: relative;
  top: 50%;
  left: 50%;
}

.conversation-compose .send {
  background: transparent;
  border: 0;
  cursor: pointer;
  flex: 0 0 auto;
  margin-left: 8px;
  margin-right: 8px;
  padding: 0;
  position: relative;
  outline: none;
}

.conversation-compose .send .circle {
  background: #6de1b6;
  border-radius: 50%;
  color: #fff;
  position: relative;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conversation-compose .send .circle i {
  font-size: 24px;
  margin-left: 5px;
}
.fa-location-arrow{
  margin-top: 2px;
  margin-right: 5px;
}

.fa-circle
{
  color: chartreuse;
  margin-left: 10px;
}
/*noti bell*/
.wrapper{
  height:0px;
  justify-content:center;
  align-items:center;
  position: relative;
  cursor: pointer;
  background-color:#00000000;
}

.icon{
  animation:notification 2s infinite;
  font-size:20px;
  color:#540980;
  position: absolute;
  top:0;
  right:5px;
  top:-20px
}

@keyframes notification{

  5%{
      transform:rotate(10deg);
  }

  10%{
      transform:rotate(-10deg);
  }

  15%{
      transform:rotate(10deg);
  }

  20%{
      transform:rotate(0deg);
  }


}
.emoji-mart {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  font-size: 16px;
  display: inline-block;
  color: #222427;
  border-radius: 5px;
  position: absolute;
  bottom: 67px;
  left: 16px;
  border: none;
}
