.theme-preview{
  height:250px;
  width:250px;
  cursor:pointer;
  border-radius: 10px;
  background-size: contain;
  background-repeat: no-repeat;

}
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.wrapper .file-save {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #FFFFFF;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #25eb50 50%, #FFFFFF 50%);
  background-size: 100% 200%;
  transition: all 1s;
  color: #FFFFFF;
  font-size: 25px;
}
.wrapper .file-save input[type=file] {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.wrapper .file-save:hover {
  background-position: 0 -100%;
  color: #26863b;
}
