<div class="theme">
<div class="theme-menu">
  <div class="accordion">
    <div class="accordion-item">
      <button id="accordion-button-1"  aria-expanded="false" (click)="toggleAccordion('accordion-button-1')">
        <div *ngIf="themes.length>0">
          <div class="clip-container">
            <img class="image image-1" [src]="themes[0].homeBg" alt="Image 1">
            <img class="image image-2" [src]="themes[1].homeBg" alt="Image 2">
            <img class="image image-3" [src]="themes[2].homeBg" alt="Image 3">
          </div>
        </div>
      </button>
      <div class="accordion-content">
        <div class="chat-theme-container">
        <div class="chat-themes">
          <ng-container *ngFor="let theme of themes;let i=index">
            <div class="chat-theme-preview" (click)="previewTheme(theme)">
              <img class="bg-preview" [src]="theme.homeBg" alt="">
            </div>
          </ng-container>
        </div>
      </div>
      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-2" aria-expanded="false" (click)="toggleAccordion('accordion-button-2')">
        <div *ngIf="themes.length>0">
          <div class="clip-container">
            <img class="image image-1" [src]="defaultBackgrounds[0]" alt="Image 1">
            <img class="image image-2" [src]="defaultBackgrounds[1]" alt="Image 2">
            <img class="image image-3" [src]="defaultBackgrounds[3]" alt="Image 3">
          </div>
        </div>
        </button>
      <div class="accordion-content">
        <div class="chat-theme-container">
        <div class="chat-themes">
          <ng-container *ngFor="let bg of defaultBackgrounds;let i=index">
            <div class="chat-theme-preview" (click)="changeChatBackground(i)">
              <img class="bg-preview" [src]="bg" alt="">
            </div>
          </ng-container>
        </div>
        </div>
      </div>
    </div>
  </div>
   <div class="upload-btn" *ngIf="showChatPreview" >
     <div class="wrapper">
       <div class="file-save" (click)="saveSelectedChatBg()">
         <i class="fa fa-check"></i>
       </div>
     </div>
   </div>
   <div class="upload-btn" *ngIf="!showChatPreview" >
     <div class="wrapper">
       <div class="file-save" (click)="saveTheme()">
         <i class="fa fa-check"></i>
       </div>
     </div>
   </div>
</div>
<div class="preview">
  <img src="" alt="" #previewImageElement style="max-width: 100%; max-height: 300px;display: none;">

  <div class="mock-conversation" *ngIf="showChatPreview">
    <div class='dialog' *ngIf="visible"  style="left:103px;">
      <h3>Uploading the picture</h3>
      <i *ngIf="!showSpinner" class="pi pi-times" style="margin-top: -30px;float:right;font-size: 1rem;cursor:pointer" (click)="closeUploadDialog()"></i>
      <div *ngIf="!showSpinner">
      <i class="pi pi-check-circle" style="font-size: 35px;margin-top: 38px;margin-left: 246px;margin-right: 20px;"></i>
      <br>
      <span style="position: relative;right:-160px">Chat Background Updated!!</span>
      <br>
      <span style="position: relative;right:-91px">Reload the chat page a few times to see results</span>
      </div>
      <div *ngIf="showSpinner">
        <p-progressSpinner [style]="{top:'12px',left:'241px'}"></p-progressSpinner>
      </div>

    </div>
  <div class="user-bar" [style.background]="averageHue">
    <div class="avatar">
      <img [src]="userparsed?.profilePicture" referrerpolicy="no-referrer" alt="Avatar">
    </div>
    <div class="name">
      <span>{{userparsed?.name}}</span>
    </div>
  </div>

  <div class="conversation" [style.background-image]="fileSelected ? 'url(' + previewImageElement.src + ')' : 'url(' + chatBackGroundUrl + ')'" [ngStyle]="{'background-size': fileSelected ? 'auto 80vh' : 'cover'}" >
    <div #messageContainer class="conversation-container">
      <div>
        <ng-container>
            <div class="message received" >
              mock incoming text
              <span class="metadata">
                <span class="time"></span>
              </span>
            </div>

            <div class="message sent">
              mock outgoing text
              <span class="metadata" >
                <span class="time"></span>
              </span>
            </div>

        </ng-container>
      </div>
    </div>
    <form class="conversation-compose">
      <div class="emoji">
        <a style="cursor: pointer;"> 😀</a><br>
      </div>
      <input #msg class="input-msg" style="background-color: #00000082;
      color: white;" name="input" placeholder="Type a message" autocomplete="off" autofocus>
      <button class="send">
        <div class="circle">
          <i class="fa-sharp fa-solid fa-location-arrow"></i>
        </div>
      </button>
    </form>
    <div #menu *ngIf="showEmojiPicker">
      <emoji-mart class="emoji-mart" set="google" ></emoji-mart>
    </div>
  </div>
  </div>
  <div *ngIf="!showChatPreview">
    <p-galleria [value]="images" [(activeIndex)]="activeIndex" [showItemNavigators]="images.length>1" [indicatorsPosition]="galeriaPosition" [changeItemOnIndicatorHover]="false" [showIndicators]="images.length>1" [showThumbnails]="false" [showIndicatorsOnItem]="true" [responsiveOptions]="responsiveOptions" [containerStyle]="{'width': '100%'}">
      <ng-template pTemplate="item" let-item>
          <img [src]="item.pic" style="width: 100%;height:40rem; display: block;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;" />
      </ng-template>
      <ng-template pTemplate="caption" let-item>
        <h4 style="margin-bottom: .5rem; color: #ffffff;">{{ item.title }}</h4>
    </ng-template>
    </p-galleria>
  </div>
</div>
</div>

<p-toast position="bottom-right"></p-toast>
