:root {
  --card-height: 224px;
  --card-width: 187px;
}

.card {
  background: #191c29;
  width: 152px;
  height: 226px;
  padding: 75px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;
}

.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
      --rotate: 0deg;
  }

  100% {
      --rotate: 360deg;
  }
}
.gamepic{
height: 224px;
width: 150px;
border-radius: 6px;
}
.profile-page-item {
  display: grid;
  grid-template-columns: 20% 20% 20%;
  margin: 0;
  flex-grow: 1;
  position: relative;
  gap: 50px;
  padding-right: 2px;
  justify-content: center;
}

.profile-page-item-image {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.tp-box {
  position: relative;
  margin: 3rem auto;
  perspective: 1000px;
}
.tp-box__side {
    width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;

  color:#171717;
  text-align: center;
  cursor: pointer;
  transition: all 0.8s ease;

}

.tp-box__back {
    transform: rotateY(180deg);
}
.tp-box:hover .tp-box__back {
    transform: rotateY(0);
}

.tp-box:hover .tp-box__front {
    transform: rotateY(-180deg);
}
