<div class="profile-page-inner">
  <div class="profile-page-item flexbox">
    <ng-container  *ngFor="let game of selectedList; let i=index">
      <div *ngIf="game[1]">
        <div class="card tp-box">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <img class="gamepic tp-box__side tp-box__front" src="https://steamcdn-a.akamaihd.net/steam/apps/{{game[0].appid}}/library_600x900.jpg">
          <div class="tp-box__side tp-box__back">{{(game[0].playtime_forever/60).toFixed(2)}} Hours</div>
        </div>
      </div>
  </ng-container>
    <div class="card" (click)="saveOwnedGames();openScrollableContent(longContent)">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <i class="fa fa-plus-circle" style="font-size:130px;color:rgb(245, 245, 245)"></i>
    </div>

    <ng-template #longContent let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Select Games</h4>
        <!-- <button type="button" class="btn btn-info" (click)="saveOwnedGames()">Load games</button> -->
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body" style="overflow-y:scroll; max-height:70vh">
        <div *ngFor="let game of result;let i=index">
          <div class="input-group mb-3">
            <div class="input-group-text">
              <input class="form-check-input mt-0" type="checkbox" value=""
                aria-label="Checkbox for following text input" (change)="change(i)" [checked]="game[1]">
            </div>
            <span type="text" class="form-control" aria-label="Text input with checkbox">{{game[0].name}}</span>
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-light" (click)="close()">Close</button>
        <button type="button" class="btn btn-light" (click)="submit()">Save</button>
      </div>
    </ng-template>

  </div>
</div>
