.flexbox {
    justify-content: center;
    align-items: center;
}

.flexbox-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flexbox-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: 85%;
}

/* Columns */
.flexbox-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.flexbox-col-left {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.flexbox-col-left-ns {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.flexbox-col-right {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}

.flexbox-col-right-ns {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}

.flexbox-col-start-center {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

/* Spacings */
.flexbox-space-bet {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ===============
    3.2 Classes
   =============== */

.view-width {
    width: 70%;
}


/* Profile Header */
.profile-header {
    width: 100%;
    position: relative;
}

.profile-header-inner {
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.profile-header-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(hsla(var(--background), .33) 0%, hsla(var(--background), .77) 50%, hsla(var(--background), 1) 100%);
    z-index: 3;
}

.profile-header-image {
    min-width: 100%;
    max-width: 110%;
    min-height: 100%;
    position: absolute;
    filter: hue-rotate(-5deg) saturate(1.25);
    object-fit: cover;
}

/* Profile Info */
.phi-info-wrapper {
    padding: 4em 4em 8em 4em;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2em;
    z-index: 5;
}

.phi-info-left {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2em;
    z-index: 5;
}

/* Profile Info */
.phi-info-wrapper {
    padding: 4em 4em 8em 4em;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2em;
    z-index: 5;
}

/* Profile Picture */
.phi-profile-picture-wrapper {
    width: 10em;
    height: 10em;
    position: relative;
}

.phi-profile-picture-inner {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    z-index: 6;
}

.phi-profile-picture {
    min-width: 100%;
    max-width: 105%;
    min-height: 100%;
    position: absolute;
    object-fit: cover;
}

.phi-profile-picture-blur {
    top: 1em;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    transform: scale(.8, .8);
    filter: blur(1rem) hue-rotate(-5deg) saturate(1.25);
}

/* Profile Username */
.phi-profile-username-wrapper {}

.phi-profile-username span {
    margin: 0 0 0 .3em;
}

.phi-profile-tagline {
    color: hsl(var(--grooble));
}

/* Profile Page */
.profile-page {
    margin: 10em 0;
}

.profile-page>h3 {
    font-size: var(--paragraph);
    text-transform: uppercase;
}

.profile-page-inner {
    margin: 1.5em 0;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 0;
}

.profile-page-item {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    margin: 0;
    flex-grow: 1;
    position: relative;

    gap: 50px;
    padding-right: 2px;
}

.profile-page-item-image {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

/* ==============
    3.2.4 Footer
   ============== */

/* ================
    4. ::Selectors
   ================ */

/* Selection */
::selection {
    color: hsl(var(--white));
    background: hsla(var(--primary), .33);
}

/* Scrollbar */
::-webkit-scrollbar-track {
    background-color: hsl(var(--background));
}

::-webkit-scrollbar {
    width: 8px;
    background-color: hsl(var(--background));
}

::-webkit-scrollbar-thumb {
    background-color: hsl(var(--primary));
}

/* ===============
    5. @keyframes
   =============== */

/* =================
    6. @media rules
   ================= */

/* =======================
    6.1 max-width: 1660px
   ======================= */

@media only screen and (max-width: 1660px) {
    :root {
        /* Sizes */
        --heading-large: 5.4rem;
        --heading-medium: 3.4rem;
        --heading-small: 2.2rem;
    }



}

/* =======================
    6.2 max-width: 1456px
   ======================= */

@media only screen and (max-width: 1456px) {
    :root {
        /* Sizes */
        --heading-large: 5.2rem;
        --heading-medium: 3.2rem;
        --heading-small: 2rem;
    }

    /* ===============
        3.2 Classes
       =============== */

    .view-width {
        width: 80%;
    }

    /* ==============
        3.2.1 Navbar
       ============== */

    /* ==============
        3.2.2 Header
       ============== */

    /* ============
        3.2.3 Main
       ============ */

    /* ======================
        3.2.3.1 Profile Page
       ====================== */

    /* ==============
        3.2.4 Footer
       ============== */

}

/* =======================
    6.3 max-width: 1220px
   ======================= */

@media only screen and (max-width: 1220px) {

    /* ===============
        3.2 Classes
       =============== */

    .view-width {
        width: 70%;
    }

    /* ==============
        3.2.1 Navbar
       ============== */

    /* ==============
        3.2.2 Header
       ============== */

    /* ============
        3.2.3 Main
       ============ */

    /* ======================
        3.2.3.1 Profile Page
       ====================== */

    /* ==============
        3.2.4 Footer
       ============== */

}

/* =======================
    6.4 max-width: 1024px
   ======================= */

@-webkit-keyframes content {
    from {
        opacity: 0;
        transform: translateY(5%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes content {
    from {
        opacity: 0;
        transform: translateY(5%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@media (max-width: 1000px) {
    .tabs ul li label {
        white-space: initial;
    }

    .tabs ul li label br {
        display: initial;
    }

    .tabs ul li label svg {
        height: 1.5em;
    }
}

@media (max-width: 600px) {
    .tabs ul li label {
        padding: 5px;
        border-radius: 5px;
    }

    .tabs ul li label span {
        display: none;
    }

    .tabs .slider {
        display: none;
    }

    .tabs .content {
        margin-top: 20px;
    }

    .tabs .content section h2 {
        display: block;
    }
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

:root {
    --card-height: 224px;
    --card-width: 187px;
}

.card {
    background: #191c29;
    width: 152px;
    height: 226px;
    padding: 75px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    margin:3rem auto;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    font-family: cursive;
}

.card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 360deg;
    }
}
.gamepic{
  height: 224px;
  width: 150px;
  border-radius: 6px;
}
.btn-info{
  margin-left: 175px;
}

.tp-box {
  position: relative;
  margin: 3rem auto;
  perspective: 1000px;
}
.tp-box__side {
    width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;

  color:#171717;
  text-align: center;
  cursor: pointer;
  transition: all 0.8s ease;

}

.tp-box__back {
    transform: rotateY(180deg);
}
.tp-box:hover .tp-box__back {
    transform: rotateY(0);
}

.tp-box:hover .tp-box__front {
    transform: rotateY(-180deg);
}
