<!--

    <div class="glass">
      <div class="frosted-bg">
    <div class="card neumorphic" id="card">
      <div class="circle" (click)="closeAll($event)">
        <img src="./../../../assets/bg/undraw_pic_profile_re_7g2h.svg" alt="">
      </div>
      <div>
        <div class="radio-grp" style="margin-top: 40px;" (click)="closeAll($event)">
          <div>
            <p>Please select your Gender:</p>
          </div>
          <div style="display: flex;justify-content: space-around;">
            <div>
              <label for="male">Male</label>
              <input type="radio" id="male" name="male" value="male" [(ngModel)]="genderSelect">
            </div>
            <div>
              <label for="female">Female</label>
              <input type="radio" id="female" name="female" value="female" [(ngModel)]="genderSelect">
            </div>
            <div>
              <label for="Others">Others</label>
              <input type="radio" id="Others" name="Others" value="Others" [(ngModel)]="genderSelect">
            </div>
          </div>
        </div>
        <div style="margin-top: 30px;">
          <label>Please select your Country</label>
          <input [(ngModel)]="selected1" class="form-control" [typeaheadMinLength]="0" [typeahead]="indianStates" [optionsListTemplate]="customListTemplate">
          <div class="drop-dwn" [ngClass]="cardStyle">
            <ng-template #customListTemplate let-matches="matches" let-query="query" let-typeaheadTemplateMethods>
              <ul class="custom-list-group">
                <li class="custom-list-group-item"
                    *ngFor="let match of matches"
                    [class.active]="typeaheadTemplateMethods.isActive(match)"
                    (click)="typeaheadTemplateMethods.selectMatch(match, $event)"
                    (mouseenter)="typeaheadTemplateMethods.selectActive(match)">
                  {{ match.item }}
                </li>
              </ul>
            </ng-template>

          </div>
        </div>

        <div style=" margin-top: 30px;margin-bottom: 50px;">
          <label>Please select your Native language</label>
          <input [(ngModel)]="selected2" class="form-control" [typeaheadMinLength]="0" [typeahead]="languages" [optionsListTemplate]="customListTemplate2">
          <div class="drop-dwn2" [ngClass]="cardStyle2">

            <ng-template #customListTemplate2 let-matches="matches" let-query="query" let-typeaheadTemplateMethods>
              <ul class="custom-list-group">
                <li class="custom-list-group-item"
                    *ngFor="let match of matches"
                    [class.active]="typeaheadTemplateMethods.isActive(match)"
                    (click)="typeaheadTemplateMethods.selectMatch(match, $event)"
                    (mouseenter)="typeaheadTemplateMethods.selectActive(match)">
                  {{ match.item }}
                </li>
              </ul>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="d-flex" style="justify-content: flex-end;"> <button class="btn" style="color:black"
          (click)="submit()">done</button>
      </div>
    </div>
  </div>
</div> -->



<div class="glass ngoninit ">
  <div>
    <div class="fontsize">
      <div class="radio-grp" style="margin-top: 40px;" (click)="closeAll($event)">
        <div class="textposi">
          <p> Please select your Gender:</p>
        </div>
        <div class="sex">
          <p-dropdown [options]="sex" [(ngModel)]="selectedSex" placeholder="Select a Sex" [editable]="true"
            optionLabel="name"></p-dropdown>
        </div>

      </div>
      <div style="margin-top: 30px;">
        <label class="textposi">Please select your Country</label>
        <input [(ngModel)]="country" class="form-control" [typeaheadMinLength]="0" [typeahead]="Countries"
          [optionsListTemplate]="customListTemplate">
        <div class="drop-dwn" [ngClass]="cardStyle">
          <ng-template #customListTemplate let-matches="matches" let-query="query" let-typeaheadTemplateMethods>
            <ul class="custom-list-group">
              <li class="custom-list-group-item" *ngFor="let match of matches"
                [class.active]="typeaheadTemplateMethods.isActive(match)"
                (click)="typeaheadTemplateMethods.selectMatch(match, $event)"
                (mouseenter)="typeaheadTemplateMethods.selectActive(match)">
                {{ match.item }}
              </li>
            </ul>
          </ng-template>

        </div>
      </div>

      <div style=" margin-top: 30px;margin-bottom: 50px;">
        <label class="textposi">Please select your Native language</label>
        <input [(ngModel)]="language" class="form-control" [typeaheadMinLength]="0" [typeahead]="languages"
          [optionsListTemplate]="customListTemplate2">
        <div class="drop-dwn2" [ngClass]="cardStyle2">

          <ng-template #customListTemplate2 let-matches="matches" let-query="query" let-typeaheadTemplateMethods>
            <ul class="custom-list-group">
              <li class="custom-list-group-item" *ngFor="let match of matches"
                [class.active]="typeaheadTemplateMethods.isActive(match)"
                (click)="typeaheadTemplateMethods.selectMatch(match, $event)"
                (mouseenter)="typeaheadTemplateMethods.selectActive(match)">
                {{ match.item }}
              </li>
            </ul>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="acceptbtn">
      <p-button icon="pi pi-check" label="Next"
        styleClass="p-button-rounded p-button-success p-button-text p-button-raised"
        (click)="submit()"></p-button>
    </div>
  </div>
</div>
<div class="frosted-bg">
</div>
