
.neumorphic {
  border-radius: 1rem;
  background: var(--color);
  animation: 1s -.3s 1 paused opacify;
  backdrop-filter: blur(1.5rem);
  border: 1px solid rgba(#fff,.2);
  box-shadow:
    -.25rem -.25rem .5rem rgba(#fff,.07),
    .25rem .25rem .5rem rgba(#000,.12),
    -.75rem -.75rem 1.75rem rgba(#fff,.07),
    .75rem .75rem 1.75rem rgba(#000,.12),
    inset 8rem 8rem 8rem rgba(#000,.05),
    inset -8rem -8rem 8rem rgba(#fff,.05)
  ;
}
@keyframes opacify { to {
  background: transparent;
}}

.card {
  /* position: absolute; */
  min-width: 700px;
  min-height: 500px;
  max-width: 80vw;
  max-height: 90vh;
  /* transform: translate(-50%,-50%); */
  box-sizing: border-box;
  padding: .5rem;
  background-color: #fff6f61a;
  display: flex; 
}

img {
  position: absolute;
  top: 2rem;
  bottom: 2rem;
  right: 2rem;
  object-fit: cover;
  width: calc(50vw - 2rem);
  height: calc(100vh - 4rem);
  box-shadow: 0 1rem 2rem rgba(#000,.3);
  border-radius: .2rem;
}

input.neumorphic {
  width: 1rem;
  height: 1rem;
  border: 0;
  padding: 0;
  border-radius: 50%;
  display: block;
  border: 1px solid rgba(#fff,.5);
  cursor: pointer;
  overflow: hidden;
}
input[type="color"]::-webkit-color-swatch {
  opacity: 0;
}

.main{
  /* height: 100vh;
  width: 100vw; */
  /* background: url(https://images.wallpaperscraft.com/image/single/northern_lights_aurora_trees_128212_1920x1080.jpg) no-repeat; */
}
input{
  color: #000 !important;
}
button{
  background-color:#ffffff14 ;
}
button:hover{
  background-color: #ffffff33;
}
.circle{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 300px;
  /* flex: 1; */
}
.circle img{
  width: 200px;
  height: 200px;
  position: relative;
}
.first-btn{
  margin-top: 50px;
}
.second-btn{
  margin-top: 20px;
}
ul{
  margin: 0px;
  padding: 0px;
  background-color: #ffffff38;
  color:white
}
li{
  /* background-color: red; */
  color:#000;
  width: 100%;
}
*{
  color:#000;
}

a:hover{
  background-color: #00000012;
}
a{
  color:white;
}



.drop-dwn{
  height: 0px;
  /* transform: scaleY(0); */
  /* transform: scaleX(0); */
  
  /* animation: anim 1s normal backwards; */
}
.drop-dwn ul{
  display: none;
}
.drop-dwn2 ul{
  display: none;
}

.drop-dwn2{
  height: 0px;
}
input{
  color: white;
  background-color:  #ffffff12;
}
input:focus{
color: white;
  background-color: #ffffff14;
}
/* .inc ul{
  display: block;
}
.inc{
  transform-origin:left top;
  overflow: hidden;
  overflow-y: scroll; 
  height: 150px;
  transition:  height 1s ease;

} */
/* 
@keyframes anim{
  0%{
      height: 0px;
  }
  100%{
      height: 100px;
      display: block;
  }
} */



.radio-grp{
  display: flex;
  flex-direction: column;
}

li{
  height: 30px;
  display: flex;
text-align:center; /* Horizontally centers text within line-wrapped elements */
align-items: center; /* vertical */
/* margin-left: 10px; */
padding-left: 10px;
}
li:hover{
  background-color: #ffffff26;
}
