<header>
    <app-navbar ></app-navbar>
</header>
<app-comment></app-comment>
<app-create-post-modal></app-create-post-modal>
<router-outlet></router-outlet>
<footer></footer>
<!-- <app-mention-text-input  (editorChange)="update($event)"  ></app-mention-text-input> -->
<!-- <app-login-userinfo></app-login-userinfo> -->
<!-- <div *ngIf="message;">
    <h1>{{ message.notification.title }}</h1>
    <h2>{{ message.notification.body }}</h2>
  </div>
  <div *ngIf="!message;">
    No Message Arrived
  </div> -->
