<main >

  <div *ngIf="userparsed && currentRoute !='/welcome'">
    <nav class="nav-bg" [style.background-image]="'url(' + userparsed?.theme.navBg+ ')'">
      <img src="./../../assets/icon-resource/logo-no-background.png" class="logo">
      <app-app-search></app-app-search>
      <li style="margin-left: 35rem;" [routerLink]="['/home']"><img class="homeicon" src="./../../assets/icon-resource/home.png"><a class="nav-btn" style="color: antiquewhite;"
          >Home</a></li>
      <!-- <li class="hover-effect"><a class="nav-btn"  >Features</a></li>
        <li class="hover-effect"><a class="nav-btn"  >About</a></li> -->
      <!-- <li><a [routerLink]="['/chat']"[queryParams]="{ id: userparsed.uid}"[skipLocationChange]="true">Chat</a></li> -->
      <li (click)="onchatClicked()"><img class="homeicon" src="./../../assets/icon-resource/chat.png"><a class="nav-btn" style="align-items: center;" >Chat</a>
        <div class="wrapper">
          <i *ngIf="noti" class="fa fa-bell icon"></i>
        </div>
      </li>
      <li>
        <div class="notification">
          <div class="notBtn" href="#">
            <!--Number supports double digits and automaticly hides itself when there is nothing between divs -->
            <div class="number" *ngIf="notificationArray?.length!=0">{{notificationArray?.length}}</div>
            <i ><img class="notiicon" src="./../../assets/icon-resource/notification.png" #togglenoti (click)="toggleNotiDropDown()"></i>
          </div>
        </div>
      </li>
      <div class="noti-menu-wrap"  #notiMenu [ngClass]="notiShow?'open-menu':''">
        <div style="color: white;left: 20px;font-weight: 650;font-size: x-large;position: relative;top: 10px;">
          Notifications</div>
        <div class="noti-menu" >
              <div class="display">
                <div class="cont"><!-- Fold this div and try deleting evrything inbetween -->
                  <div class="sec new" *ngIf="notificationArray?.length!=0;else elseblock">
                    <div *ngFor="let noti of notificationArray;let i= index">
                      <ng-container *ngIf="noti.notiType=='frnd req'">
                        <div class="frnd-noti">
                          <div class="noti-img" (click)="onclick(noti.sender)" style="cursor: pointer;">
                            <img [src]="noti.profileurl" class="img-sk" referrerpolicy="no-referrer" />
                          </div>
                          <div class="accpt-rej-btns">
                            <div style="color: rgb(227, 213, 213);margin-top: 10px;"> {{noti.userName}} sent you a friend request</div>
                            <div style="margin-bottom: 5px;">
                              <button type="button" class="btn btn-light"
                                (click)="acceptReq(noti.sender)">Accept</button>
                              <button type="button" class="btn btn-light"
                                (click)="rejectReq(noti.sender)">Reject</button>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="noti.notiType=='poke'">
                        <div class="frnd-noti">
                          <div class="noti-img" (click)="onclick(noti.sender)" style="cursor: pointer;">
                            <img [src]="noti.profileurl" class="img-sk" referrerpolicy="no-referrer" />
                          </div>
                          <div class="accpt-rej-btns">
                            <div style="color: rgb(227, 213, 213);margin-top: 10px;">You've been poked by {{noti.userName}}{{i}} </div>
                          </div>
                          <button type="button" class="btn-close" (click)="notiDismiss(i)" style="height: 25px;width: 25px;margin-right: 25px;margin-top: 10px;" ></button>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="noti.notiType=='frndReqAcc'">
                        <div class="frnd-noti">

                          <div class="noti-img" (click)="onclick(noti.sender)" style="cursor: pointer;">
                            <img [src]="noti.profileurl" class="img-sk" referrerpolicy="no-referrer" />
                          </div>
                          <div class="accpt-rej-btns">
                            <div style="color: rgb(227, 213, 213);margin-top: 10px;"> {{noti.userName}} accepted your friend request</div>
                          </div>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="noti.notiType=='new comment'">
                        <div class="frnd-noti">

                          <div class="noti-img" (click)="onclick(noti.sender)" style="cursor: pointer;">
                            <img [src]="noti.profileurl" class="img-sk" referrerpolicy="no-referrer" />
                          </div>
                          <div class="accpt-rej-btns" style="cursor: pointer;" (click)="goToPost(noti.data.postId,i)">
                            <div style="color: rgb(227, 213, 213);margin-top: 10px;"> {{noti.userName}} commented on your post</div>
                          </div>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="noti.notiType=='new mention'">
                        <div class="frnd-noti">

                          <div class="noti-img" (click)="onclick(noti.sender)" style="cursor: pointer;">
                            <img [src]="noti.profileurl" class="img-sk" referrerpolicy="no-referrer" />
                          </div>
                          <div class="accpt-rej-btns">
                            <div style="color: rgb(227, 213, 213);margin-top: 10px;"> {{noti.userName}} mentioned you in a new post</div>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                  <ng-template #elseblock>
                    <div class="new sec" style="justify-content: center;align-items: center;">
                      <span style="color: aliceblue;">You have no new notifications</span>
                    </div>
                  </ng-template>
                </div>
              </div>
        </div>
      </div>

      <div>
        <img [src]="userInfo?.profilePicture" #toggleButton class="user-pic" (click)="toggleMenu()"
          referrerpolicy="no-referrer">
      </div>
      <div class="sub-menu-wrap" id="subMenu" #menu [ngClass]="show?'open-menu':''">
        <div class="sub-menu" id="openmenu">
          <div class="user-info" routerLink="/profile-page/post" style="cursor: pointer;">
            <div class="profiledp">
              <img [src]="userInfo?.profilePicture">
            </div>
            <h3>{{userInfo?.name}}</h3>
          </div>
          <hr>
          <a href="#" [routerLink]="['/settings']" [queryParams]="{ tab: 'account-settings' }"routerLinkActive="router-link-active" class="sub-menu-link">
            <img src="./../../assets/icon-resource/setting2.png">
            <p>Settings</p>
          </a>
          <a href="#" class="sub-menu-link">
            <img src="./../../assets/icon-resource/help1.png">
            <p>Help & Support</p>
          </a>
          <a (click)="user.logout()" href="#" class="sub-menu-link">
            <img src="./../../assets/icon-resource/logout2.png">
            <p>Logout</p>
          </a>
        </div>
      </div>
    </nav>
  </div>
  <p-toast position='bottom-right'></p-toast>
</main>
