* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.hero {
  width: 100%;
  min-height: 100vh;
  color: #525252;
}

nav {
  width: 100%;
  padding: 10px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 15;
  background-color: #262626;
}
app-app-search{
  width: 629px;
  height: 37px;
  margin-left: 75px;
  max-width: 350px;
}

.logo {
  width: 50px;
  height: 50px;
}

.user-pic {
  /* width: 40px; */
  border-radius: 50%;
  width: 6vmin;
  height: 6vmin;
  cursor: pointer;
  margin-left: 30px;
}

.nav-btn:hover{
  border-radius: 3px;
  background: rgb(43, 57, 137);
  padding-right:10px;
  padding-left: 10px;
}

.sub-menu-wrap {
  z-index: 10;
  position: absolute;
  top: 100%;
  right: 10%;
  width: 320px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
  max-height: 400px;
}

.sub-menu {
  background: #fff;
  padding: 20px;
  margin: 10px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info h3 {
  font-weight: 500;
}

.user-info img {
  border-radius: 50%;
  width: 8vmin;
  height: 8vmin;
  cursor: pointer;
  margin-left: 0px;
  margin-right: 28px;
}

.sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}

.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 12px 0;
}

.sub-menu-link p {
  width: 100%;
}

.sub-menu-link img {
  width: 40px;
  background: #e5e5e5;
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
}

.sub-menu-link span {
  font-size: 22px;
  transition: transform 0.5s;
}

.sub-menu-link:hover span {
  transform: translateX(5px);
}

.sub-menu-link:hover p {
  font-weight: 600;
}

input:focus {
  outline-offset: -2px;
}

.search {
  position: fixed;
  top: 2rem;
  left: 32rem;
  margin-top: -1em;
  margin-left: -15em;
}

#submitsearch {
  border: 1px solid rgb(138, 134, 134);
  margin-left: -82px;
  padding: 5px;
  border-radius: 19px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 8px;
  padding-top: 4px;
  display: none;
  box-shadow: 0 0 1px black;
  margin-right: 110px;
}

::placeholder{
  color: #e5e5e5;
}

#searchInput {
  width: 145%;
  color: white;
  border: 1px solid #000;
  border-radius: 30px;
  font-size: 16px;
  background-color: rgb(255 255 255 / 15%);
  background-image: url('https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-24.png');

  background-position: 10px 7px;
  background-repeat: no-repeat;
  padding: 8px 20px 8px 40px;
  -webkit-transition: width 0.8s ease-in-out;
  transition: width 0.8s ease-in-out;
  outline: none;
  opacity: 0.9;

}
/*noti bell for chat don't remove*/
.wrapper{
  height:0px;
  justify-content:center;
  align-items:center;
  position: relative;
  cursor: pointer;
  background-color:#00000000;
}

.icon{
  animation:notification 2s infinite;
  font-size:20px;
  color:#d63031;
  position: absolute;
  top:0;
  right:20px;
  top:-40px
}

@keyframes notification{

  5%{
      transform:rotate(10deg);
  }

  10%{
      transform:rotate(-10deg);
  }

  15%{
      transform:rotate(10deg);
  }

  20%{
      transform:rotate(0deg);
  }


}
.nav-btn{
  cursor:pointer;
  color:antiquewhite;
  padding-right:10px;
  padding-left: 10px;
}

/*new notification menu*/
a{
  text-decoration: none;
  color: black;
}

a:visited{
  color: black;
}

.box::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
  border-radius: 5px
}

.box::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
  border-radius: 5px
}

.box::-webkit-scrollbar-thumb
{
	background-color: black;
	border: 2px solid black;
  border-radius: 5px
}

.notification{
  padding-top: 10px;
  position: relative;
  display: inline-block;
}

.number{
  height: 30px;
  width:  30px;
  background-color: #d63031;
  border-radius: 20px;
  color: white;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 60px;
  padding: 3px;
  border-style: solid;
  border-width: 2px;
}

.number:empty {
   display: none;
}

.notBtn{
  transition: 0.5s;
  cursor: pointer
}

.fas{
  font-size: 25pt;
  padding-bottom: 10px;
  color: black;
  margin-right: 40px;
  margin-left: 40px;
}

.box{
  width: 400px;
  height: 0px;
  border-radius: 10px;
  transition: 0.5s;
  position: absolute;
  overflow-y: auto;
  padding: 0px;
  left: 120x;
  top: 370px;
  background-color: #262626;
  -webkit-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.1);
  box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.1);
  cursor: context-menu;
}

.fas:hover {
  color: #d63031;
}

.box{
  height: 60vh
} 

.content{
  padding: 20px;
  color: black;
  vertical-align: middle;
  text-align: left;
}

.gry{
  background-color: #F4F4F4;
}

.top{
  color: black;
  padding: 10px
}

.display{
  position: relative;
}

.cont{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #F4F4F4;
}

.cont:empty{
  display: none;
}

.stick{
  text-align: center;
  display: block;
  font-size: 50pt;
  padding-top: 70px;
  padding-left: 80px
}

.stick:hover{
  color: black;
}

.cent{
  text-align: center;
  display: block;
}

.sec{
  padding: 25px 10px;
  background-color: #262626;
  transition: 0.5s;
}

.profCont{
  padding-left: 15px;
}

.profile{
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  width: 75px;
  float: left;
}

.txt{
  vertical-align: top;
  font-size: 1.25rem;
  padding: 5px 10px 0px 115px;
}

.sub{
  font-size: 1rem;
  color: grey;
}


.sec:hover{
  background-color: #BFBFBF;
}


.cont img{
  border-radius: 50%;
}
.cont button{
  margin-left: 10px;
}