<header>
<main>
  <div *ngIf="userparsed">
  <nav class="nav-bg">
    <img src="./../../assets/icon-resource/logo-no-background.png" class="logo">
    <app-app-search></app-app-search>
    <ul>
        <li><a class="nav-btn" [routerLink]="['/first-component']">Home</a></li>
        <li><a class="nav-btn"  >Features</a></li>
        <li><a class="nav-btn"  >About</a></li>
        <!-- <li><a [routerLink]="['/chat']"[queryParams]="{ id: userparsed.uid}"[skipLocationChange]="true">Chat</a></li> -->
        <li><a class="nav-btn" style="align-items: center;" (click)="onchatClicked()">Chat</a>
          <div class="wrapper" >
            <i *ngIf="noti" class="fa fa-bell icon"></i>
          </div>
        </li>
    </ul>
<div>
    <img [src]="profileurl" #toggleButton class="user-pic" (click)="toggleMenu()" (error)="onProfilePicError()" referrerpolicy="no-referrer" >
</div>
   <div class="sub-menu-wrap" id="subMenu" #menu [ngClass]="show?'open-menu':''">
    <div class="sub-menu" id="openmenu" >
        <div class="user-info" routerLink="/profile-page/post" style="cursor: pointer;">
            <img [src]="profileurl">
            <h3>{{userName}}</h3>
        </div>
        <hr>
        <a href="#" [routerLink]="['/settings']" routerLinkActive="router-link-active"  class="sub-menu-link">
            <img src="./../../assets/icon-resource/setting.png">
            <p>Settings & Privacy</p>
        </a>
        <a href="#" class="sub-menu-link">
            <img src="./../../assets/icon-resource/help.png">
            <p>Help & Support</p>
        </a>
        <a (click)="user.logout()" href="#" class="sub-menu-link">
            <img src="./../../assets/icon-resource/logout.png">
            <p>Logout</p>
        </a>
    </div>
   </div>
</nav>
</div>
</main>
</header>
<footer></footer>
