
.hero{
    width: 100%;
    min-height: 100vh;
    color: #525252;
}
nav{
    width: 100%;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.logo{
    width: 50px;
    height:50px;
}
.user-pic{
    margin-top:21.5px;
    width: 7vmin;
    border-radius: 50%;
    margin-left: 30px;
    height: 7vmin;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: sk-loading 1s linear infinite alternate;
}
nav ul{
    width: 100%;
    text-align: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
}
.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}
.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu{
    background: #fff;
    padding: 20px;
    margin: 10px;
}
.user-info{
    display: flex;
    align-items: center;
}
.user-info h3{
    font-weight: 500;
}
.user-info img{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}
.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}
.sub-menu-link p{
    width: 100%;
}
.sub-menu-link img{
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}
.sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
}
.sub-menu-link:hover span{
    transform: translateX(5px);
}
.sub-menu-link:hover p{
    font-weight: 600;
}
.app-left-header h1 {
  font-size: 20px;
  color: white;
  margin-left: 12px;
  transform: translate(10px, -250px);
}
.app-logo svg {
  width: 40px;
  height: 40px;
}
.app-logo svg .path-1 {
  fill: grey;
}
.app-logo svg .path-2 {
  fill: white;
}
.page
{
  height: 100vh;
  background-color:  #171717;
  padding-top: 100px;
  min-height: 100%;
  overflow-y: scroll;
}

body {
  background-attachment: fixed;
}
/* .container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.container:before {
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
}
.container:before {
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
}
.container {
  background: inherit;
}
.container:before {
  background: inherit;
} */
.con{
  height: 150px;
  border-radius: 20px;
  color: rgb(249, 250, 250);
  background-color: #262626;
  width: 55rem;
  text-align: center;
  margin-left: 218px;
}
.btn-outline-light {
    top: 24px;
    right: 9rem;
    width: 44rem;
    max-width: 48rem;
    min-width: 40rem;
    height: 57px;
    margin-top: 25px;
    border-radius: 35px;
    position: inherit;
    font-weight: bold;
    border: 2px solid;
    text-align: left;
    margin-left: 76px;
}
.image {
  height: 35px;
  position: relative;
  width: 126px;
  top: 16px;
  display: flex;
  align-items: center;
  vertical-align: middle;
}
.profileimg{
  position: relative;
    left: 1.5rem;
    top: 2px;
    width: 7vmin;
    height: 7vmin;
    border-radius: 50%;

}
.modal-dialog {
  top: 57px;
   right: 0px;
}
.rounded-circle{
  width: 4vmin;
  height: 4vmin;
}

 carousel img {
    /* content: './../../asset/bg/bg.jpg'; */
    height: auto;
    width: auto;
    display: none;
    /* background: grey; */
    animation: sk-loading 1s linear infinite alternate;
}

@keyframes sk-loading {
  0%{
    background-color: hsl(200,20%,70%);
  }
  100%{
    background-color: hsl(200, 20%, 95%);
  }
}
