<main>
  <div style="height:120px"></div>
    <input #image type="file" name="" id="">
    <input #tagInput type="text" placeholder="tags">
    <button (click)="addTagToList()"> add tag</button>
    <br/>
    <div *ngFor="let tags of tagsList">
      <span> {{tags}}</span>
      <br/>
    </div>
    <button  style="width: 100px;height: 50px;" (click)="uploadPostFile()">upload</button>
    <div class="hero page-bg" style="">
     <div *ngFor="let post of posts ; index as i">

      <img [src]="post.url" alt="" height="400px">
      <button (click)="likeButtonClick(post)"> like </button>
     </div>

  </div>

</main>
