<div class="main-page">

  <div *ngIf="friendSuggestionList && user" class="list">
    <div *ngFor="let friend of friendSuggestionList.locationBased; index as i">
      <!-- {{friend | json}} -->
      <div *ngIf="friend.userid != user.id">
        <app-friend-suggestion-box [name]="friend.name" [profileImage] = "friend.profilePicture" ></app-friend-suggestion-box>
      </div>
     
      
    </div>
  
    <div *ngFor="let friend of friendSuggestionList.suggestedUserAccordingGame; index as i">
      <div *ngIf="friend.userid != user.id">
        <app-friend-suggestion-box [name]="friend.name" [profileImage] = "friend.profilePicture" ></app-friend-suggestion-box>
      </div>

    </div>
  </div>

</div>