.inrComment {
  margin-left: 20px;
}
.button-link {
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: arial, sans-serif;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  margin: 3px 5px 3px 5px;
  left: 30px;
  position: relative;
}
.user-pic{
  position: relative;
  width: 3.5vmin;
  border-radius: 50%;
  height: 3.5vmin;
  text-indent: 100%;
  animation: sk-loading 1s linear infinite alternate;
  top: 10px;
  left: 10px;
}
.con{
  height: 100px;
  border-radius: 20px;
  background-color: black;
  color: rgb(249, 250, 250);
  text-align: center;
  display: -webkit-box;
}
.user-time-parent{
  left: 280px;
  position: relative;
  bottom: 50px;
  width: fit-content;
}
.user-time-child{
  left: 260px;
  position: relative;
  bottom: 50px;
  width: fit-content;
}
.user-time-grandchild{
  left: 234px;
  position: relative;
  bottom: 50px;
  width: fit-content;
}
.user-name{
  left: 60px;
    bottom: 22px;
    position: relative;
    width: fit-content;
}
.user-comment{
  position: relative;
  justify-content: left;
  display: flex;
  bottom: 8px;
  left: 14px;
  max-width: 26rem;
  width: fit-content;
}
.user-comment-child{
  position: relative;
    justify-content: left;
    display: flex;
    bottom: 9px;
    left: 13px;
    max-width: 26rem;
    width: fit-content;
}
.user-comment-grandchild{
  position: relative;
  justify-content: left;
  display: flex;
  bottom: 7px;
  left: 13px;
  max-width: 24rem;
  width: fit-content;
}

.card-background{
  background-color: black;
  border-radius: 20px;
  color: rgb(249, 250, 250);
}
.comment-btn {
  height: 45px;
  width: 18.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.comment-btn:hover {
  background-color: #525252;
  border-radius: 10px;
}
.comment-btn-posi-child
{
  position: relative;
  left: 330px;
  bottom: 10px;
  border-radius: 20px;
}
.comment-btn-posi-child-can
{
  position: relative;
  left: 248px;
  top: 29px;
  border-radius: 20px;
}
.comment-btn-posi-parent
{
  position: relative;
  left: 352px;
  bottom: 10px;
  border-radius: 20px;
}
.comment-btn-posi-parent-can
{
  position: relative;
  left: 270px;
  top: 29px;
  border-radius: 20px;
}
.input-field-specs
{
  visibility: inherit;
      display: block;
      position: relative;
      clip-path: none;
      background-color: #212529;
      color: rgb(249, 250, 250);
      border-radius: 2px;
}
.form-control:focus{
  box-shadow: none;
}
textarea{
  max-height: 150px;
}
textarea::placeholder {
  color: white;
}
.dropdown-config{
  background-color: transparent;
  border: none;
  outline: none;
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: arial, sans-serif;
  color: #069;
  cursor: pointer;
  margin: 3px 5px 3px 5px;
  position: relative;
  left: 13.5rem;
  width: 26px;
  bottom: 1.7rem;
}
.dropdown-config-grandchild{
  background-color: transparent;
    border: none;
    outline: none;
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: arial, sans-serif;
    color: #069;
    cursor: pointer;
    margin: 3px 5px 3px 5px;
    position: relative;
    left: 5rem;
    width: 26px;
    bottom: 1.7rem;
}
