.inrComment {
  margin-left: 20px;
}
.button-link {
  background: none!important;
  border: none;
  font-family: arial, sans-serif;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  position: relative;
}

.user-pic{
  position: relative;
  width: 3.5vmin;
  border-radius: 50%;
  height: 3.5vmin;
  text-indent: 100%;
  animation: sk-loading 1s linear infinite alternate;
  top: 10px;
  left: 10px;
}
.con{
  height: 100px;
  border-radius: 20px;
  background-color: black;
  color: rgb(249, 250, 250);
  text-align: center;
  display: -webkit-box;
}
.user-time-parent{
  left: 280px;
  position: relative;
  bottom: 50px;
  width: fit-content;
}
.user-time-child{
  left: 260px;
  position: relative;
  bottom: 50px;
  width: fit-content;
}
.user-time-grandchild{
  left: 234px;
  position: relative;
  bottom: 50px;
  width: fit-content;
}
.user-name{
  left: 60px;
    bottom: 22px;
    position: relative;
    width: fit-content;
}
.user-comment{
  position: relative;
  justify-content: left;
  display: flex;
  bottom: 8px;
  left: 14px;
  max-width: 26rem;
  width: fit-content;
}
.user-comment-child{
  position: relative;
    justify-content: left;
    display: flex;
    bottom: 9px;
    left: 13px;
    max-width: 26rem;
    width: fit-content;
}
.user-comment-grandchild{
  position: relative;
  justify-content: left;
  display: flex;
  bottom: 7px;
  left: 13px;
  max-width: 24rem;
  width: fit-content;
}

.card-background{
  background-color: black;
  border-radius: 20px;
  color: rgb(249, 250, 250);
}
.comment-btn {
  height: 45px;
  width: 18.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.comment-btn:hover {
  background-color: #525252;
  border-radius: 10px;
}
.comment-btn-posi-child
{
  position: relative;
  left: 330px;
  bottom: 10px;
  border-radius: 20px;
}
.comment-btn-posi-child-can
{
  position: relative;
  left: 248px;
  top: 29px;
  border-radius: 20px;
}
.comment-btn-posi-parent
{
  position: relative;
  left: 352px;
  bottom: 10px;
  border-radius: 20px;
}
.comment-btn-posi-parent-can
{
  position: relative;
  left: 270px;
  top: 29px;
  border-radius: 20px;
}
.input-field-specs
{
  visibility: inherit;
      display: block;
      position: relative;
      clip-path: none;
      background-color: #212529;
      color: rgb(249, 250, 250);
      border-radius: 2px;
}
.form-control:focus{
  box-shadow: none;
}
textarea{
  max-height: 150px;
}
textarea::placeholder {
  color: white;
}
.dropdown-config{
  background-color: transparent;
  border: none;
  outline: none;
  background: none!important;
  border: none;
  color: #069;
  cursor: pointer;
  position: relative;
}

.commentOptions{
  display:flex;
  flex-direction:row;
  left: 46px;
  position: relative;
  bottom: 83px;
}


/*reactions css*/
.button-reaction {
  background: none!important;
  border: none;
  font-family: arial, sans-serif;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  position: relative;
}

.toolbox {
  background: #fff;
  height: 52px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.15);
  width: 340px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-radius: 40px;
  top: -81px;
  position:relative;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s;
}

.button-reaction:hover + .toolbox,
.toolbox:hover {
  visibility: visible;
  opacity: 1;
}

.react {
  --r: 36px;
  display: inline-grid;
  cursor: pointer;
  width: var(--r);
  height: var(--r);
  border-radius: 50%;
  margin: calc(var(--r)/3);
  line-height: var(--r);
  text-align: center;
  transform: rotate(0);
}

.react i:before {
  content: attr(data-icon);
  grid-area: 1/1;
  font-style: normal;
  font-size: calc(0.6*var(--r));
}

.react.fire i {
  filter: grayscale(100%);
  transform: scale(1);
  grid-area: 1/1;
  display: inherit;
  transition: transform .6s cubic-bezier(0.5, -12, 1, -12);
}

.react.fire2 i {
  transform: scale(1);
  grid-area: 1/1;
  display: inherit;
  transition: transform .6s cubic-bezier(0.5, -12, 1, -12);
}

.react i {
  transform: scale(1);
  grid-area: 1/1;
  display: inherit;
  transition: transform .6s cubic-bezier(0.5, -12, 1, -12);
}

/* .react:hover{
transform:rotate(0.1deg);
transition:transform 0.25s cubic-bezier(0.5,400,0.5,-400);
} */
.react:before {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  border: solid orange calc(var(--r)/2);
  transform: scale(0);
}

.react:after,
.react i:after {
  content: "";
  grid-area: 1/1;
  margin: calc(var(--r)/-2);
  --c1: radial-gradient(red 50%, #0000 60%);
  --c2: radial-gradient(orange 50%, #0000 60%);
  background:
    var(--c1), var(--c1), var(--c1), var(--c1),
    var(--c2), var(--c2), var(--c2), var(--c2);
  background-size: calc(var(--r)/6) calc(var(--r)/6);
  background-position:
    calc(50% - var(--r)/2) calc(50% - var(--r)/2),
    calc(50% + var(--r)/2) calc(50% - var(--r)/2),
    calc(50% - var(--r)/2) calc(50% + var(--r)/2),
    calc(50% + var(--r)/2) calc(50% + var(--r)/2),
    calc(50% + 0px) calc(50% + var(--r)*0.707),
    calc(50% + var(--r)*0.707) calc(50% + 0px),
    calc(50% - var(--r)*0.707) calc(50% + 0px),
    calc(50% + 0px) calc(50% - var(--r)*0.707);
  background-repeat: no-repeat;
  transform: scale(0);
}

.react i:after {
  background-size: calc(var(--r)/8) calc(var(--r)/8);
  transform: rotate(60deg) scale(0);
}

input:checked+.react i {
  filter: grayscale(0);
  transform: scale(0.95);
  transition:
    filter .5s .5s,
    transform 1s cubic-bezier(0, 26.67, .5, 26.67);
}

input:checked+.react:before {
  border-width: 0;
  transform: scale(1);
  transition:
    transform 0.5s,
    border-width 0.5s 0.5s;
}

input:checked+.react:after,
input:checked+.react i:after {
  transform: scale(1);
  opacity: 0;
  background-size: 0 0;
  transition:
    transform 0.5s 0.5s,
    opacity 0.4s 0.9s,
    background-size 0.5s 0.9s;
}

input:checked+.react i:after {
  transform: rotate(55deg) scale(1);
}


input {
  position: absolute;
  visibility: hidden;
  clip-path: inset(50%)
}

.react i:before {
  content: "";
  display: block;
  width: 45px;
  height: 45px;
  margin: -7px;
  background-size: cover;
}

.react.fire i:before {
  background-image: url("https://i.giphy.com/media/J2awouDsf23R2vo2p5/giphy.webp");
}

.react.fire2 i:before {
  background-image: url("https://i.giphy.com/media/J2awouDsf23R2vo2p5/giphy.webp");
}

.react.haha i:before {
  background-image: url("https://i.giphy.com/media/hVlZnRT6QW1DeYj6We/giphy.webp");
}

.react.love i:before {
  background-image: url("https://i.giphy.com/media/YondZW6AMjgTEHevF0/giphy.webp");
}

.react.sad i:before {

  background-image: url("https://i.giphy.com/media/IzcFv6WJ4310bDeGjo/giphy.webp");

}

.react.poop i:before {
  background-image: url("https://i.giphy.com/media/W4tf7M2R7jUC9YjFcG/giphy.webp");
}

.col-sm {
  padding: 0;
  margin: 0;
}

.col-sm {
  transition: all 0.5s ease;
}

.col-sm:hover {
  transform: scale(1.8);
}


.like {
  width: 18.3rem;
  height: 45px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.like:hover {
  background-color: #525252;
  border-radius: 10px;
}
