<div class="row">
  <div class="example-2 card">
    <div class="wrapper" [style.backgroundImage]="'url(' + profileImage + ')'"
      style="background-repeat: no-repeat; background-position: center; background-size: cover;">
      <div class="header">
        <div class="date">
          <span class="day">{{createdAt}}</span>
        </div>
        <ul class="menu-content">
          <li>
            <a href="#" class="fa fa-bookmark-o"></a>
          </li>
          <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
          <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
        </ul>
      </div>
      <div class="data">
        <div class="content">
          <h2 class="title"><a>{{name}}</a></h2>
          <p class="text">{{bio}}</p>
          <a href="#" class="button" >Add Friend</a>
        </div>
      </div>
    </div>
  </div>
</div>
