<main>
  <div class="container">
    <div class="con">
      <div class="row">
        <div class="card">
          <h2>KD-1.2</h2>
        </div>
      </div>
      <div class="tagline">
        Kill Death Ratio
      </div>
    </div>
    <div class="con">
      <div class="row">
        <div class="card">
          <h2>KDA-1.2</h2>
        </div>
      </div>
      <div class="tagline">
        Avarage Kill Death Ratio
      </div>
    </div>
    <div class="col-md-auto">
    </div>
  </div>
  <div class="container">
    
    <div class="con">
      <div class="row">
        <div class="card">
        </div>
      </div>
    </div>
    </div>
</main>
