<!-- Main -->
<main id="main" class="flexbox-col-start-center" style="background-color: rgb(43, 48, 49);">

    <!-- Profile Page -->
    <div class="view-width">

        <!-- Profile Header -->
        <section class="profile-header">
            <div class="profile-header-inner flexbox">
                <div class="phi-info-wrapper flexbox">
                    <div class="phi-info-left flexbox">
                        <!-- Profile Picture -->
                        <div class="phi-profile-picture-wrapper">
                            <div class="phi-profile-picture-inner flexbox">
                                <img class="phi-profile-picture"
                                    src="https://i.pinimg.com/originals/60/04/30/600430c1d22c731b94cf4e7dae6b398a.gif"
                                    alt="">
                            </div>
                            <img class="phi-profile-picture-blur"
                                src="https://thumbs.gfycat.com/UniqueUnknownCockerspaniel-size_restricted.gif" alt="">
                        </div>
                        <!-- Profile Username -->
                        <div class="phi-profile-username-wrapper flexbox-col-left"
                            style="padding-top: 15%; font-size: 158%;">
                            <h3 class="phi-profile-username flexbox" style="color: aliceblue">Username<span
                                    class="material-icons-round" style="color: aliceblue">verified</span></h3>
                            <p class="phi-profile-tagline" style="color: aliceblue">Something neat and funny!</p>
                        </div>
                    </div>
                    <div class="phi-info-right flexbox-right">
                        <div>
                            <button type="button" class="btn-primary-gray button btn-primary flexbox">
                                <!-- <ion-icon name="heart-outline"></ion-icon> Follow<div class="btn-secondary"></div> -->
                                <button>
                                    FRIENDS
                                </button>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Profile Header Image -->
                <div class="profile-header-overlay"></div>
                <img class="profile-header-image"
                    src="https://images.unsplash.com/photo-1616808943301-d80596eff29f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2010&q=80"
                    alt="">
            </div>
        </section>

        <!-- Profile Page -->
        <section class="profile-page">
            <h3 style="color: #fdeff9;font-size: 65px;text-shadow: 4px 4px #38b3ec, 8px 8px #7303c0;">GAMES</h3><br><br>
            <article class="leaderboard__profile">
                <img src="https://randomuser.me/api/portraits/men/32.jpg" alt="Mark Zuckerberg" class="leaderboard__picture">
                <span class="leaderboard__name">Mark Zuckerberg</span>
                <span class="leaderboard__value"></span>
            </article>
        
            <article class="leaderboard__profile">
                <img src="https://randomuser.me/api/portraits/men/97.jpg" alt="Dustin Moskovitz" class="leaderboard__picture">
                <span class="leaderboard__name">Dustin Moskovitz</span>
                <span class="leaderboard__value"></span>
            </article>
        
            <article class="leaderboard__profile">
                <img src="https://randomuser.me/api/portraits/women/17.jpg" alt="Elizabeth Holmes" class="leaderboard__picture">
                <span class="leaderboard__name">Elizabeth Holmes</span>
                <span class="leaderboard__value"></span>
            </article>
        
            <article class="leaderboard__profile">
                <img src="https://randomuser.me/api/portraits/men/37.jpg" alt="Evan Spiegel" class="leaderboard__picture">
                <span class="leaderboard__name">Evan Spiegel</span>
                <span class="leaderboard__value"></span>
            </article>
        </section>

    </div>

</main>


   