<!-- Main -->
<main id="main" class="flexbox-col-start-center">

    <!-- Profile Page -->
    <div class="view-width">
  
      <!-- Profile Header -->
      <section class="profile-header">
        <div class="profile-header-inner flexbox">
          <div class="phi-info-wrapper flexbox">
            <div class="phi-info-left flexbox">
              <!-- Profile Picture -->
              <div class="phi-profile-picture-wrapper">
                <div class="phi-profile-picture-inner flexbox">
                  <img class="phi-profile-picture" src="https://images.unsplash.com/photo-1586156719269-d2f9faf80446?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80" alt="">
                </div>
                <img class="phi-profile-picture-blur" src="https://images.unsplash.com/photo-1586156719269-d2f9faf80446?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80" alt="">
              </div>
              <!-- Profile Username -->
              <div class="phi-profile-username-wrapper flexbox-col-left">
                <h3 class="phi-profile-username flexbox">Username<span class="material-icons-round">verified</span></h3>
                <p class="phi-profile-tagline">Something neat and funny!</p>
              </div>
            </div>
            <div class="phi-info-right flexbox-right">
              <div>
                <button class="custom-btn btn-9"><span>Read More</span></button>
              </div>
            </div>
          </div>
          <!-- Profile Header Image -->
          <div class="profile-header-overlay"></div>
          <img class="profile-header-image" src="https://images.unsplash.com/photo-1616808943301-d80596eff29f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2010&q=80" alt="">
        </div>
      </section>
  
      <!-- Profile Page -->
      <section class="profile-page">
        <h3>Profile Posts</h3>
        <div class="profile-page-inner">
          <div class="profile-page-item flexbox">
            <img class="profile-page-item-image" src="https://images.unsplash.com/photo-1586896619133-913bd8dda086?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80" alt="">
          </div>
          <div class="profile-page-item flexbox">
            <img class="profile-page-item-image" src="https://images.unsplash.com/photo-1587057159479-08f137d62022?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2002&q=80" alt="">
          </div>
          <div class="profile-page-item flexbox">
            <img class="profile-page-item-image" src="https://images.unsplash.com/photo-1543980912-da94eb7138e3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="">
          </div>
          <div class="profile-page-item flexbox">
            <img class="profile-page-item-image" src="https://images.unsplash.com/photo-1593349480505-191eb0d3bdbd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80" alt="">
          </div>
          <div class="profile-page-item flexbox">
            <img class="profile-page-item-image" src="https://images.unsplash.com/photo-1592054839314-d9f332cda0f5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80" alt="">
          </div>
          <div class="profile-page-item flexbox">
            <img class="profile-page-item-image" src="https://images.unsplash.com/photo-1594801114217-6fc57805169a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80" alt="">
          </div>
          <div class="profile-page-item flexbox">
            <img class="profile-page-item-image" src="https://images.unsplash.com/photo-1613486073627-30fa244557bb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2134&q=80" alt="">
          </div>
          <div class="profile-page-item flexbox">
            <img class="profile-page-item-image" src="https://images.unsplash.com/photo-1612367197112-b10b7cae092d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2123&q=80" alt="">
          </div>
          <div class="profile-page-item flexbox">
            <img class="profile-page-item-image" src="https://images.unsplash.com/photo-1508606572321-901ea443707f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2132&q=80" alt="">
          </div>
          <div class="profile-page-item flexbox">
            <img class="profile-page-item-image" src="https://images.unsplash.com/photo-1506436718137-b21cd5c12e7a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2144&q=80" alt="">
          </div>
          <div class="profile-page-item flexbox">
            <img class="profile-page-item-image" src="https://images.unsplash.com/photo-1541257710737-06d667133a53?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2132&q=80" alt="">
          </div>
          <div class="profile-page-item flexbox">
            <img class="profile-page-item-image" src="https://images.unsplash.com/photo-1529271247619-1f9736e6e8ee?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1938&q=80" alt="">
          </div>
          <div class="profile-page-item flexbox">
            <img class="profile-page-item-image" src="https://images.unsplash.com/photo-1572883475077-fb5aca766ace?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80" alt="">
          </div>
          <div class="profile-page-item flexbox">
            <img class="profile-page-item-image" src="https://images.unsplash.com/photo-1582323139629-b1d4c0f89a75?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2133&q=80" alt="">
          </div>
          <div class="profile-page-item flexbox">
            <img class="profile-page-item-image" src="https://images.unsplash.com/photo-1533619043865-1c2e2f32ff2f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="">
          </div>
          <div class="profile-page-item flexbox">
            <img class="profile-page-item-image" src="https://images.unsplash.com/photo-1530651788726-1dbf58eeef1f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2082&q=80" alt="">
          </div>
          <div class="profile-page-item flexbox">
            <img class="profile-page-item-image" src="https://images.unsplash.com/photo-1600434481745-78f3ddb55154?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80" alt="">
          </div>
          <div class="profile-page-item flexbox">
            <img class="profile-page-item-image" src="https://images.unsplash.com/photo-1528788720080-7da894708603?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2151&q=80" alt="">
          </div>
          <div class="profile-page-item flexbox">
            <img class="profile-page-item-image" src="https://images.unsplash.com/photo-1528788442742-a1a5450cd578?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2134&q=80" alt="">
          </div>
          <div class="profile-page-item flexbox">
            <img class="profile-page-item-image" src="https://images.unsplash.com/photo-1529644007373-e246cffb4def?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2112&q=80" alt="">
          </div>
          <div class="profile-page-item flexbox">
            <img class="profile-page-item-image" src="https://images.unsplash.com/photo-1528788256629-53078aa51d2f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2101&q=80" alt="">
          </div>
          <div class="profile-page-item flexbox">
            <img class="profile-page-item-image" src="https://images.unsplash.com/photo-1513200839033-40c57b7060f9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1944&q=80" alt="">
          </div>
          <div class="profile-page-item flexbox">
            <img class="profile-page-item-image" src="https://images.unsplash.com/photo-1506691318991-c91e7df669b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2121&q=80" alt="">
          </div>
          <div class="profile-page-item flexbox">
            <img class="profile-page-item-image" src="https://images.unsplash.com/photo-1513594003807-3798b2d49908?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80" alt="">
          </div>
          <div class="profile-page-item flexbox">
            <img class="profile-page-item-image" src="https://images.unsplash.com/photo-1504026136304-3d198b522973?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80" alt="">
          </div>
          <div class="profile-page-item flexbox">
            <img class="profile-page-item-image" src="https://images.unsplash.com/photo-1542820060-a56821e07e6a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="">
          </div>
          <div class="profile-page-item flexbox">
            <img class="profile-page-item-image" src="https://images.unsplash.com/photo-1549564919-e7bdd543f078?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80" alt="">
          </div>
        </div>
      </section>
      <section class="profile-page">
        <div>
        <h3 style="cursor: pointer;color: #fdeff9;font-size: 65px;text-shadow: 4px 4px #38b3ec, 8px 8px #7303c0;">GAMES</h3>

        <h4 routerLink="/linked-accounts" style="cursor: pointer;color: #fdeff9;font-size: 65px;text-shadow: 4px 4px #38b3ec, 8px 8px #7303c0;">LINKS</h4>
        </div>
      </section>
    </div>
  
  </main>