<!-- Main -->
<main id="main" class="flexbox-col-start-center page-bg">

  <!-- Profile Page -->
  <div class="view-width">
    <!-- Profile Header -->
    <div class="container">
      <section class="profile-header">
        <!-- Profile Banner -->
        <div class="profile">
          <div class="profile__header-image-container">
            <img class="profile__header-image" [src]="bannerUrl" (error)="onProfilePicError()">
          </div>
          <!-- Profile Avater -->
          <div class="profile__user">
            <
            <img class="profile__avatar" [src]="profileurl" (error)="onBannerError()" >

            <div class="profile__details">
              <!-- Main header -->
              <h1 class="profile__name">{{userName}}</h1>
              <!-- SubHeader -->
              <p class="profile__subtitle">{{bio}}
            </div>
            <!-- "Follow" button -->
            <div class="profile__actions">
              <a class="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="cursor:pointer" >Edit Profile</a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="modal fade modal-lg" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
      tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content" style="background-color: currentColor; height: 52rem;">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel" style="color: whitesmoke;">Edit Profile</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
              (click)="cancelProfileUpload();cancelBannerUpload()"></button>
          </div>

          <div class="modal-body" style="overflow-y:scroll; max-height:70vh">
            <div class="profile-modal">
              <div class="profile__header-image-container-modal">
                <img class="profile__header-image-modal" [src]="bannerUrl">
                <div>
                  <i class="phi-edit-icon fa-solid fa fa-camera" (click)="banner.click()"></i>
                </div>
              </div>
              <input type="file" name="" id="" style="display: none;" #image>
              <input type="file" name="" id="" style="display: none;" #banner>
              <!-- Profile Avater -->

              <div class="phi-profile-picture-wrapper" (click)="image.click()">
                <img class="profile__avatar-modal" [src]="profileurl" style="cursor:pointer">
                <div class="camera-icon" style><i class="phi-edit-icon fa-solid fa fa-camera"></i></div>
              </div>
            </div>

            <div class="mb-3" style="margin-top: 15px; user-select: auto;">
              <label for="message-text" class="col-form-label" style="color: whitesmoke;" >Tell your friends a lil bit about yourself</label>
              <textarea  placeholder="{{bio}}" class="form-control" id="bio-text" [(ngModel)]="bio"></textarea>
            </div>

          </div>
          <div class="modal-footer d-flex justify-content-between" style="position: relative; top: 30px;">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
              style="bottom: 9px;left: 40rem;position: relative;" (click)="combineUpload()">Save</button>
          </div>

        </div>

      </div>
    </div>
    <div class="tabs">
      <input type="radio" id="tab1" name="tab-control" [checked]="radioActivaVal == 1 ? true : false">
      <input type="radio" id="tab2" name="tab-control" [checked]="radioActivaVal == 2 ? true : false">
      <input type="radio" id="tab3" name="tab-control" [checked]="radioActivaVal == 3 ? true : false">
      <input type="radio" id="tab4" name="tab-control" [checked]="radioActivaVal == 4 ? true : false">
      <ul>
        <li title="Posts"><label for="tab1" role="button"><br><span (click)="changeToPost()">POSTS</span></label></li>
        <li title="Games"><label for="tab2" role="button"><br><span (click)="changeToGame()">GAMES</span></label></li>
        <li title="Friends"><label for="tab3" role="button"><br><span (click)="changeToFriends()">FRIENDS</span></label>
        </li>
        <li title="LinkedAccounts"><label for="tab4" role="button"><br><span (click)="changeToLinkedAcc()">Linked
              Accounts</span></label></li>
      </ul>

      <div class="slider">
        <div class="indicator"></div>
      </div>
      <div class="content">
        <section>
          <h2>POSTS</h2>
          <app-profile-post></app-profile-post>
        </section>
        <section>
          <h2>GAMES</h2>
          <app-showgames></app-showgames>

        </section>
        <section>
          <h2>FRIENDS</h2>
          <app-friends></app-friends>
        </section>
        <section>
          <h2>Linked Accounts</h2>
          <app-linked-accounts></app-linked-accounts>
        </section>
      </div>
    </div>

    <!-- Profile Page -->


  </div>


</main>
