<ng-container >

  <div class="container mt-5 mb-5">
    <!-- <div class="row d-flex align-items-center justify-content-center"> -->
    <div class="col-md-6" style="display: flex;justify-content: flex-end;">
      <div class="card_cust">
        <div class="d-flex p-2 px-3" style="position: relative;top: 7px;">
          <div class="d-flex flex-row align-items-center"> <img [src]="childPost.profilePicture" width="50"
              class="rounded-circle">
            <div class="d-flex flex-column ml-2"> <span class="font-weight-bold"
                style="margin-left: 10px;">{{childPost.name}}</span><span
                style="margin-left: 10px;">{{this.utcToLocal(childPost?.createdAt)}}</span>
              </div>
          </div>



          <div *ngIf="childPost.isOwnPost" style="margin-left: 535px;" >
            <p-speedDial  [model]="items"  direction="down-left" [radius]="radi" type="quarter-circle" [transitionDelay]="delay" showIcon="pi pi-ellipsis-h" hideIcon="pi pi-caret-up" buttonClassName="p-button-rounded p-button-text" ></p-speedDial>
          </div>
          <div class='dialog' *ngIf="visible" [style.top]="images.length === 0 ? '10px' : '390px'" style="left:144px;">
            <h3>{{deleteHeader}}</h3>
            <i class="pi pi-times" style="margin-top: -30px;float:right;font-size: 1rem;cursor:pointer" (click)="closeDelete()"></i>
            <div *ngIf="!showSpinner">
            <i *ngIf="!deleteSuccess" class="pi pi-exclamation-triangle" style="font-size: 35px;margin-top: 38px;margin-left: 70px;margin-right: 20px;"></i>
            <i *ngIf="deleteSuccess" class="pi pi-check-circle" style="font-size: 35px;margin-top: 38px;margin-left: 70px;margin-right: 20px;"></i>
            <span>{{deleteBody}}</span>
            </div>
            <div *ngIf="showSpinner">
              <p-progressSpinner [style]="{top:'12px',left:'241px'}"></p-progressSpinner>
            </div>
            <div class='action-group' *ngIf="!deleteSuccess">
              <button (click)="confirmDelete()">Delete</button>
              <button (click)="cancelDelete()">Cancel</button>
            </div>
          </div>

        </div>

        <div class="p-3" *ngIf="childPost.refinedText">
          <p class="text-justify" [innerHTML]="childPost.refinedText"></p>
          <ng-container *ngFor="let tag of childPost.tagArr">
            <a class="text-justify" style="cursor: pointer;" (click)="fetchByTag(tag)">{{"#"+tag}}</a>
          </ng-container>
        </div>
        <ng-container *ngIf="childPost.shared">
          <div class="parent-author">
            <div class="d-flex flex-row align-items-center" style="margin-top: 5px;margin-bottom: 5px;">
              <img [src]="childPost.parentpostauthor?.profilePicture" width="50"
                class="parent-author-dp">
              <div class="d-flex flex-column ml-2"> <span class="font-weight-bold"
                  style="margin-left: 10px;">{{childPost?.parentpostauthor?.name}}</span>
                  <span style="margin-left: 10px;">{{this.utcToLocal(childPost?.parentpost?.createdAt)}}</span>
              </div>
              <ng-container *ngIf="childPost?.parentpost?.deleted">
                <span>{{childPost?.parentpost?.message}}</span>
              </ng-container>
            </div>

            <div class="p-3" *ngIf="childPost?.parentpost?.refinedText">
              <p class="text-justify" [innerHTML]="childPost.parentpost?.refinedText"></p>
              <ng-container *ngFor="let tag of childPost.parentpost?.tagArr">
                <a class="text-justify" style="cursor: pointer;" (click)="fetchByTag(tag)">{{"#"+tag}}</a>
              </ng-container>
            </div>
            <div style="display: block;width: 100%;" *ngIf="images.length!=0">
              <p-galleria [value]="images" [showItemNavigators]="images.length>1" [indicatorsPosition]="galeriaPosition" [changeItemOnIndicatorHover]="true" [showIndicators]="images.length>1" [showThumbnails]="false" [showIndicatorsOnItem]="true" [responsiveOptions]="responsiveOptions" [containerStyle]="{'width': '100%'}">
                <ng-template pTemplate="item" let-item>
                    <img [src]="item.imageSrcUrl" style="width: 100%;height:40rem; display: block;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;" />
                </ng-template>
            </p-galleria>
          </div>
          </div>
        </ng-container>
          <div style="display: block;width: 100%;" *ngIf="images.length!=0  && !childPost.shared">
            <p-galleria [value]="images" [showItemNavigators]="images.length>1" [indicatorsPosition]="galeriaPosition" [changeItemOnIndicatorHover]="true" [showIndicators]="images.length>1" [showThumbnails]="false" [showIndicatorsOnItem]="true" [responsiveOptions]="responsiveOptions" [containerStyle]="{'width': '100%'}">
              <ng-template pTemplate="item" let-item>
                  <img [src]="item.imageSrcUrl" style="width: 100%;height:40rem; display: block;" />
              </ng-template>
          </p-galleria>
        </div>

        <div class="p-2 carousel-btm" style="">
          <div class="d-flex justify-content-between align-items-center" style="height: 50px;">
            <div class="like">
              <ng-container *ngIf="childPost.noreaction || childPost.reactiontype=='like'||childPost.reactiontype=='dislike'">
                <input type="checkbox" id="${{childPost.id}}" [ngModel]="childPost.reactiontype=='like'"
                  (click)="likeButtonClick(childPost,'like')">
                <label for="${{childPost.id}}" class="react fire">
                  <i data-icon=""></i>
                </label>
                <div>Fire</div>
              </ng-container>
              <ng-container *ngIf="childPost.reactiontype=='haha'">
                <input type="checkbox" id="${{childPost.id}}" [ngModel]="childPost.reactiontype=='haha'"
                  (click)="likeButtonClick(childPost,'haha')">
                <label for="${{childPost.id}}" class="react haha">
                  <i data-icon=""></i>
                </label>
                <div>HaHa</div>
              </ng-container>
              <ng-container *ngIf="childPost.reactiontype=='love'">
                <input type="checkbox" id="${{childPost.id}}" [ngModel]="childPost.reactiontype=='love'"
                  (click)="likeButtonClick(childPost,'love')">
                <label for="${{childPost.id}}" class="react love">
                  <i data-icon=""></i>
                </label>
                <div>Love</div>
              </ng-container>
              <ng-container *ngIf="childPost.reactiontype=='sad'">
                <input type="checkbox" id="${{childPost.id}}" [ngModel]="childPost.reactiontype=='sad'"
                  (click)="likeButtonClick(childPost,'sad')">
                <label for="${{childPost.id}}" class="react sad">
                  <i data-icon=""></i>
                </label>
                <div>Sad</div>
              </ng-container>
              <ng-container *ngIf="childPost.reactiontype=='poop'">
                <input type="checkbox" id="${{childPost.id}}" [ngModel]="childPost.reactiontype=='poop'"
                  (click)="likeButtonClick(childPost,'poop')">
                <label for="${{childPost.id}}" class="react poop">
                  <i data-icon=""></i>
                </label>
                <div>Shit</div>
              </ng-container>
              <div class="toolbox" style="z-index: 99;">
                <div class="container">
                  <div class="row" style="color: black;">
                    <div class="col-sm ">
                      <input type="checkbox" id="${{childPost.id}}h" (click)="likeButtonClick(childPost,'haha')">
                      <label for="${{childPost.id}}h" class="react haha">
                        <i data-icon=""></i>
                      </label>
                    </div>
                    <div class="col-sm ">
                      <input type="checkbox" id="${{childPost.id}}s" (click)="likeButtonClick(childPost,'sad')">
                      <label for="${{childPost.id}}s" class="react sad">
                        <i data-icon=""></i>
                      </label>
                    </div>
                    <div class="col-sm ">
                      <input type="checkbox" id="${{childPost.id}}l" (click)="likeButtonClick(childPost,'love')">
                      <label for="${{childPost.id}}l" class="react love">
                        <i data-icon=""></i>
                      </label>
                    </div>
                    <div class="col-sm ">
                      <input type="checkbox" id="${{childPost.id}}p" (click)="likeButtonClick(childPost,'poop')">
                      <label for="${{childPost.id}}p" class="react poop">
                        <i data-icon="https://cdn-icons-png.flaticon.com/512/4951/4951989.png"></i>
                      </label>
                    </div>
                    <div class="col-sm ">
                      <input type="checkbox" id="${{childPost.id}}f" (click)="likeButtonClick(childPost,'like')">
                      <label for="${{childPost.id}}f" class="react fire2">
                        <i data-icon=""></i>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="comment-btn" #commentbtn data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
              aria-controls="offcanvasRight" style="cursor: pointer;" (click)="openComment(childPost)">Comments</div>

            <div class="dropdown ">
              <div class="share dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class='fa fa-share' style='color:#faf9f5'></i>Share</div>
              <ul class="dropdown-menu">
                <li style="cursor: pointer;"><a class="dropdown-item" (click)="quickShare(childPost.shared ? childPost.parentpost.id : childPost.id)" >Quick Share</a></li>
                <li style="cursor: pointer;"><a class="dropdown-item" (click)="feedShare(childPost.id)">Share to feed</a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</ng-container>
