<ng-container >
  <div class="container mt-5 mb-5">
    <!-- <div class="row d-flex align-items-center justify-content-center"> -->
    <div class="col-md-6">
      <div class="card_cust">
        <div class="d-flex p-2 px-3" style="position: relative;top: 7px;">
          <div class="d-flex flex-row align-items-center"> <img [src]="childPost.profilePicture" width="50"
              class="rounded-circle">
            <div class="d-flex flex-column ml-2"> <span class="font-weight-bold"
                style="margin-left: 10px;">{{childPost.name}}</span><span
                style="margin-left: 10px;">{{this.utcToLocal(childPost?.createdAt)}}</span></div>
          </div>
          <div *ngIf="childPost.isOwnPost" style="margin-left: 535px;" >
            <p-speedDial [model]="items"  direction="down-left" [radius]="radi" type="quarter-circle" [transitionDelay]="delay" showIcon="pi pi-ellipsis-h" hideIcon="pi pi-caret-up" buttonClassName="p-button-outlined"></p-speedDial>
          </div>
        </div>
        <div class="p-3">
          <p class="text-justify">{{childPost.description}}</p>
          <ng-container *ngFor="let tag of childPost.tagArr">
            <a class="text-justify" style="cursor: pointer;" (click)="fetchByTag(tag)">{{"#"+tag}}</a>
          </ng-container>
        </div>
        <!-- <ng-container *ngIf="childPost.photoUrlArr.length!=0">
          <carousel [isAnimated]="true" [interval]="myInterval" [activeSlide]="activeSlideIndex">
            <slide *ngFor="let img of childPost.photoUrlArr">
              <img [src]="img" alt="first slide" style="display: block; height: 40rem; width: 100%;">
            </slide>
          </carousel>
        </ng-container> -->

          <div style="display: block;width: 100%;" *ngIf="images.length!=0">
            <p-galleria [value]="images" [showItemNavigators]="images.length>1" [indicatorsPosition]="position" [changeItemOnIndicatorHover]="true" [showIndicators]="images.length>1" [showThumbnails]="false" [showIndicatorsOnItem]="true" [responsiveOptions]="responsiveOptions" [containerStyle]="{'width': '100%'}">
              <ng-template pTemplate="item" let-item>
                  <img [src]="item.imageSrcUrl" style="width: 100%;height:40rem; display: block;" />
              </ng-template>
          </p-galleria>
        </div>
        <div class="p-2 carousel-btm">
          <div class="d-flex justify-content-between align-items-center" style="height: 50px;">
            <div class="like">
              <ng-container *ngIf="childPost.noreaction || childPost.reactiontype=='like'||childPost.reactiontype=='dislike'">
                <input type="checkbox" id="${{childPost.id}}" [ngModel]="childPost.reactiontype=='like'"
                  (click)="likeButtonClick(childPost,'like')">
                <label for="${{childPost.id}}" class="react fire">
                  <i data-icon=""></i>
                </label>
                <div>Fire</div>
              </ng-container>
              <ng-container *ngIf="childPost.reactiontype=='haha'">
                <input type="checkbox" id="${{childPost.id}}" [ngModel]="childPost.reactiontype=='haha'"
                  (click)="likeButtonClick(childPost,'haha')">
                <label for="${{childPost.id}}" class="react haha">
                  <i data-icon=""></i>
                </label>
                <div>HaHa</div>
              </ng-container>
              <ng-container *ngIf="childPost.reactiontype=='love'">
                <input type="checkbox" id="${{childPost.id}}" [ngModel]="childPost.reactiontype=='love'"
                  (click)="likeButtonClick(childPost,'love')">
                <label for="${{childPost.id}}" class="react love">
                  <i data-icon=""></i>
                </label>
                <div>Love</div>
              </ng-container>
              <ng-container *ngIf="childPost.reactiontype=='sad'">
                <input type="checkbox" id="${{childPost.id}}" [ngModel]="childPost.reactiontype=='sad'"
                  (click)="likeButtonClick(childPost,'sad')">
                <label for="${{childPost.id}}" class="react sad">
                  <i data-icon=""></i>
                </label>
                <div>Sad</div>
              </ng-container>
              <ng-container *ngIf="childPost.reactiontype=='poop'">
                <input type="checkbox" id="${{childPost.id}}" [ngModel]="childPost.reactiontype=='poop'"
                  (click)="likeButtonClick(childPost,'poop')">
                <label for="${{childPost.id}}" class="react poop">
                  <i data-icon=""></i>
                </label>
                <div>Shit</div>
              </ng-container>
              <div class="toolbox" style="z-index: 99;">
                <div class="container">
                  <div class="row" style="color: black;">
                    <div class="col-sm ">
                      <input type="checkbox" id="${{childPost.id}}h" (click)="likeButtonClick(childPost,'haha')">
                      <label for="${{childPost.id}}h" class="react haha">
                        <i data-icon=""></i>
                      </label>
                    </div>
                    <div class="col-sm ">
                      <input type="checkbox" id="${{childPost.id}}s" (click)="likeButtonClick(childPost,'sad')">
                      <label for="${{childPost.id}}s" class="react sad">
                        <i data-icon=""></i>
                      </label>
                    </div>
                    <div class="col-sm ">
                      <input type="checkbox" id="${{childPost.id}}l" (click)="likeButtonClick(childPost,'love')">
                      <label for="${{childPost.id}}l" class="react love">
                        <i data-icon=""></i>
                      </label>
                    </div>
                    <div class="col-sm ">
                      <input type="checkbox" id="${{childPost.id}}p" (click)="likeButtonClick(childPost,'poop')">
                      <label for="${{childPost.id}}p" class="react poop">
                        <i data-icon="https://cdn-icons-png.flaticon.com/512/4951/4951989.png"></i>
                      </label>
                    </div>
                    <div class="col-sm ">
                      <input type="checkbox" id="${{childPost.id}}f" (click)="likeButtonClick(childPost,'like')">
                      <label for="${{childPost.id}}f" class="react fire2">
                        <i data-icon=""></i>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="comment-btn" #commentbtn data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
              aria-controls="offcanvasRight" style="cursor: pointer;" (click)="openComment(childPost)">Comments</div>

            <div class=" share"><i class='fa fa-share' style='color:#faf9f5'></i>Share</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</ng-container>
