
<fieldset class="checkbox-group">
  <div class="scrollable">
  <div class="scrollable-header">
    <legend class="checkbox-group-legend">Choose your favorites</legend>
    <input [(ngModel)]="gameSearch" class="form-control" placeholder="Search"  (keyup)="searchGames()">
  </div>
  <div class="scrollable-content game-view">
    <div *ngFor="let game of searchedList; let i=index">
        <div class="checkbox">
          <label class="checkbox-wrapper">
            <input type="checkbox" class="checkbox-input" [(ngModel)]="game.selected" (click)="onCheckboxClick($event, i)"/>
            <span class="checkbox-tile" [style.background-image]="game.photo">
            </span>
          </label>
        </div>
        </div>
      </div>
      </div>
</fieldset>
<div class="acceptbtn">
  <p-button icon="pi pi-check" label="Next"
    styleClass="p-button-rounded p-button-success p-button-text p-button-raised"
    (click)="triggerCustomEvent()"></p-button>
</div>
<div class="skipbtn">
  <p-button icon="pi pi-times" label="Skip"
    styleClass="p-button-rounded p-button-danger p-button-text p-button-raised"
    (click)="triggerCustomEvent()"></p-button>
</div>
