.friend-Box {
  margin-top: 20px;
  border-style: solid;
  background-color: currentColor;
  width: auto;
  min-width: 250px;
  cursor: pointer;
  border-radius: 10px;
}

.profile-image {
  border-radius: 50%;
  overflow: hidden;
  width: 50px;
  height: 50px;
  margin-bottom: .5rem;
  position: relative;
}

.profile-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.profile-username {
  font-size: 0.5rem;
  font-weight: 600;
  margin-top: .2rem;
}

.profile-user-handle {
  color: #7d8396;
  font-size: 0.5rem;
}

.profile-actions {
  margin-top: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-actions>* {
  margin: 0rem;
}

.friend-username {
  font-size: 0.8rem;
  font-weight: 600;
  color: #f1f3f3;
  height: 23px;
  float: left;
  margin-left: 20px;
  margin-top: 16px;
}
