<ng-container>
    <div class="row justify-content-md-center">
        <div>
            <div class="row" style="justify-content: left; gap: 26px">
                <div class="col-4 col-md-4 friend-Box" *ngFor="let user of friendList; let i=index"
                    (click)="onclick(user.data.id)">
                    <div style="margin-block-start: 9px;display: inline-flex;">
                        <div class="profile-image">
                            <img [src]="user.data.profilePicture" referrerpolicy="no-referrer" />
                        </div>
                        <div class="friend-username">{{user.data.name}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>