<!-- Main -->
<main id="main" class="flexbox-col-start-center page-bg">
  <!-- Profile Page -->
  <head><script src="https://kit.fontawesome.com/e5bca406a7.js" crossorigin="anonymous"></script></head>
  <div class="view-width">
      <!-- Profile Header -->
      <!-- <section class="profile-header">
          <div class="profile-header-inner flexbox">
              <div class="phi-info-wrapper flexbox">
                  <div class="phi-info-left flexbox" *ngIf="frndData!=null">
                      <div class="phi-profile-picture-wrapper">
                          <div class="phi-profile-picture-inner flexbox">
                              <img class="phi-profile-picture"
                                  [src]="frndData.profilePicture" referrerpolicy="no-referrer" (error)="onDpError()"
                                  alt="">
                          </div>
                          <img class="phi-profile-picture-blur"
                          [src]=""
                              alt="">
                      </div>

                      <div class="phi-profile-username-wrapper flexbox-col-left">
                          <h3 class="phi-profile-username flexbox">{{frndData.name}}</h3>
                          <i class="fa-regular fa-handshake" *ngIf="isFrnd"></i>
                          <p class="phi-profile-tagline" >mock about</p>
                      </div>
                  </div>
                  <button type="button" class="btn btn-danger" (click)="sendReq()" *ngIf="!isFrnd">{{btnTxt}}</button>

              </div>

              <div class="profile-header-overlay"></div>
              <img class="profile-header-image"
                  [src]="frndData.profileBanner" (error)="onBannerError()"
                  alt="">
          </div>
      </section> -->
      <section class="profile-header">
        <!-- Profile Banner -->
        <div class="profile">
          <div class="profile__header-image-container">
            <img class="profile__header-image" [src]="frndData.profileBanner" (error)="onBannerError()">
          </div>
          <!-- Profile Avater -->
          <div class="profile__user">
            <img class="profile__avatar" [src]="frndData.profilePicture" (error)="onDpError()">
            <div class="profile__details">
              <!-- Main header -->
              <h1 class="profile__name">{{frndData.name}}</h1>
              <!-- SubHeader -->
              <p class="profile__subtitle">A Front End Web Developer
            </div>
            <!-- "Follow" button -->
            <div class="profile__actions">
              <button class="button"  (click)="sendReq()" *ngIf="!isFrnd">{{btnTxt}}</button>
              <i class="fa-regular fa-handshake fa-2x" *ngIf="isFrnd"></i>
            </div>
          </div>
        </div>
      </section>
      <div class="tabs">

          <input type="radio" id="tab1" name="tab-control" [checked]="radioActivaVal == 1 ? true : false">
          <input type="radio" id="tab2" name="tab-control" [checked]="radioActivaVal == 2 ? true : false">
          <input type="radio" id="tab3" name="tab-control">
          <input type="radio" id="tab4" name="tab-control">
          <ul>
              <li title="Posts"><label for="tab1" role="button"><br><span (click)="changeToPost()">POSTS</span></label></li>
              <li title="Games"><label for="tab2" role="button"><br><span (click)="changeToGame()">GAMES</span></label></li>
              <li title="Friends"><label for="tab3" role="button"><br><span (click)="changeToFriends()">FRIENDS</span></label></li>
              <li title="Returns"><label for="tab4" role="button"><br><span>Linked Accounts</span></label></li>
          </ul>

          <div class="slider">
              <div class="indicator"></div>
          </div>
          <div class="content">
             <section>
                  <h2>POSTS</h2>
                  <app-showfriendposts></app-showfriendposts>
              </section>
             <section>
                  <h2>GAMES</h2>
                 <app-showfriendgames></app-showfriendgames>

              </section>
              <section>
                  <h2>FRIENDS</h2>
                  <app-showfriendfriendlist></app-showfriendfriendlist>
              </section>
              <section>
                  <h2>frnd Linked acc</h2>
                  <app-friendlinkedacount></app-friendlinkedacount>
              </section>
          </div>
      </div>

      <!-- Profile Page -->


  </div>

</main>
