<!-- <input #box type="text">
  <button id="friend-add" (click)="sendReq(box.value)">Add </button>
  <br>
  <button id="pending" (click)="getPendingReq()">getPendingReqs </button> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<head><script src="https://kit.fontawesome.com/e5bca406a7.js" crossorigin="anonymous"></script></head>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-md-auto">
    </div>
    <div class="col col-lg-2">
      <input class="type-checkbox" id="toogle" type="checkbox" name="name" (click)="toggle()">
      <label class="estado" for="toogle" >
        <span class="aprobado">Friends</span>
        <span class="desaprobado">Pending</span>
      </label>
    </div>
  </div>
  <br>
  <ng-container *ngIf="show">
    <div class="row justify-content-md-center">
      <div>
        <div class="row" style="justify-content: left;">
          <div class="col-4 col-md-4 friend-Box" *ngFor="let user of friendList; let i=index" (click)="onclick(user.data.id)">
            <div style="margin-block-start: 9px;">
              <div class="profile-image">
                <img [src]="user.data.profilePicture" referrerpolicy="no-referrer" />
              </div>
              <div class="friend-username">{{user.data.name}}
                <i *ngIf="status.get(user.data.id)" class="fa-sharp fa-solid fa-circle"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="hide">
    <div class="row justify-content-md-center">
      <span style="color: antiquewhite;">Incoming Requests : {{pendingResults.length}}</span>
      <div>
        <div class="row" >
          <div class="col-4" style="margin-top: 20px; margin-bottom: 20px;" *ngFor="let user2 of pendingResults" >
            <div>
              <div class="profile-image" (click)="onclick(user2.id)">
                <img [src]="user2.profilePicture" referrerpolicy="no-referrer"/>
              </div>
              <div class="profile-username">{{user2.name}}
                <br>
                <i class="fa-solid fa-check fa-lg" (click)="acceptReq(user2.id)"></i>
                <i class="fa-solid fa-ban" (click)="rejectReq(user2.id)"></i>
              </div>
            </div>
            <!-- <button class="custom-btn btn-15" (click)="acceptReq(user2.id)">Accept</button> -->
          </div>
        </div>
      </div>
      <br>
      <span style="color: rgb(129, 85, 27);">Outgoing Requests : {{sentPending.length}}</span>
      <div>
        <div class="row" >
          <div class="col-4" style="margin-top: 20px; margin-bottom: 20px;" *ngFor="let user3 of sentPending" >
            <div>
              <div class="profile-image" (click)="onclick(user3.id)">
                <img [src]="user3.profilePicture" referrerpolicy="no-referrer"/>
              </div>
              <div class="friend-username">{{user3.name}}
                <br>
              </div>
            </div>
            <!-- <button class="custom-btn btn-15" (click)="acceptReq(user2.id)">Accept</button> -->
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>


