.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexbox-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexbox-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  top: 85%;
}

/* Columns */
.flexbox-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.flexbox-col-left {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}

.flexbox-col-left-ns {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.flexbox-col-right {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}

.flexbox-col-right-ns {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}

.flexbox-col-start-center {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

/* Spacings */
.flexbox-space-bet {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ===============
  3.2 Classes
 =============== */

.view-width {
  width: 70%;
}


/* Profile Header */
.profile-header {
  width: 100%;
  position: relative;
}

.profile-header-inner {
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.profile-header-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(hsla(var(--background), .33) 0%, hsla(var(--background), .77) 50%, hsla(var(--background), 1) 100%);
  z-index: 3;
}

.profile-header-image {
  min-width: 100%;
  max-width: 110%;
  min-height: 100%;
  position: absolute;
  filter: hue-rotate(-5deg) saturate(1.25);
  object-fit: cover;
}

/* Profile Info */
.phi-info-wrapper {
  padding: 4em 4em 8em 4em;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2em;
  z-index: 5;
}

.phi-info-left {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2em;
  z-index: 5;
}

/* Profile Info */
.phi-info-wrapper {
  padding: 4em 4em 8em 4em;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2em;
  z-index: 5;
}

/* Profile Picture */
.phi-profile-picture-wrapper {
  width: 10em;
  height: 10em;
  position: relative;
}

.phi-profile-picture-inner {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  z-index: 6;
}

.phi-profile-picture {
  min-width: 100%;
  max-width: 105%;
  min-height: 100%;
  position: absolute;
  object-fit: cover;
}

.phi-profile-picture-blur {
  top: 1em;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  transform: scale(.8, .8);
  filter: blur(1rem) hue-rotate(-5deg) saturate(1.25);
}

/* Profile Username */
.phi-profile-username-wrapper {}

.phi-profile-username span {
  margin: 0 0 0 .3em;
}

.phi-profile-tagline {
  color: hsl(var(--grooble));
}

/* Profile Page */
.profile-page {
  margin: 10em 0;
}

.profile-page>h3 {
  font-size: var(--paragraph);
  text-transform: uppercase;
}

.profile-page-inner {
  margin: 1.5em 0;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0;
}

.profile-page-item {
  display: grid;
  grid-template-columns: 20% 20% 20%;
  margin: 0;
  flex-grow: 1;
  position: relative;
  cursor: pointer;
  gap: 50px;
  padding-right: 2px;
}

.profile-page-item-image {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

/* ==============
  3.2.4 Footer
 ============== */

/* ================
  4. ::Selectors
 ================ */

/* Selection */
::selection {
  color: hsl(var(--white));
  background: hsla(var(--primary), .33);
}

/* Scrollbar */
::-webkit-scrollbar-track {
  background-color: hsl(var(--background));
}

::-webkit-scrollbar {
  width: 8px;
  background-color: hsl(var(--background));
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary));
}

/* ===============
  5. @keyframes
 =============== */

/* =================
  6. @media rules
 ================= */

/* =======================
  6.1 max-width: 1660px
 ======================= */

@media only screen and (max-width: 1660px) {
  :root {
      /* Sizes */
      --heading-large: 5.4rem;
      --heading-medium: 3.4rem;
      --heading-small: 2.2rem;
  }



}

/* =======================
  6.2 max-width: 1456px
 ======================= */

@media only screen and (max-width: 1456px) {
  :root {
      /* Sizes */
      --heading-large: 5.2rem;
      --heading-medium: 3.2rem;
      --heading-small: 2rem;
  }

  /* ===============
      3.2 Classes
     =============== */

  .view-width {
      width: 80%;
  }

  /* ==============
      3.2.1 Navbar
     ============== */

  /* ==============
      3.2.2 Header
     ============== */

  /* ============
      3.2.3 Main
     ============ */

  /* ======================
      3.2.3.1 Profile Page
     ====================== */

  /* ==============
      3.2.4 Footer
     ============== */

}

/* =======================
  6.3 max-width: 1220px
 ======================= */

@media only screen and (max-width: 1220px) {

  /* ===============
      3.2 Classes
     =============== */

  .view-width {
      width: 70%;
  }

  /* ==============
      3.2.1 Navbar
     ============== */

  /* ==============
      3.2.2 Header
     ============== */

  /* ============
      3.2.3 Main
     ============ */

  /* ======================
      3.2.3.1 Profile Page
     ====================== */

  /* ==============
      3.2.4 Footer
     ============== */

}

/* =======================
  6.4 max-width: 1024px
 ======================= */

@-webkit-keyframes content {
  from {
      opacity: 0;
      transform: translateY(5%);
  }

  to {
      opacity: 1;
      transform: translateY(0%);
  }
}

@keyframes content {
  from {
      opacity: 0;
      transform: translateY(5%);
  }

  to {
      opacity: 1;
      transform: translateY(0%);
  }
}

@media (max-width: 1000px) {
  .tabs ul li label {
      white-space: initial;
  }

  .tabs ul li label br {
      display: initial;
  }

  .tabs ul li label svg {
      height: 1.5em;
  }
}

@media (max-width: 600px) {
  .tabs ul li label {
      padding: 5px;
      border-radius: 5px;
  }

  .tabs ul li label span {
      display: none;
  }

  .tabs .slider {
      display: none;
  }

  .tabs .content {
      margin-top: 20px;
  }

  .tabs .content section h2 {
      display: block;
  }
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}

.card {
  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  padding: 75px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;
}

.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
      --rotate: 0deg;
  }

  100% {
      --rotate: 360deg;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Some basic CSS overrides */
body {
  line-height: 1.5;
  min-height: 100vh;
  font-family: "Be Vietnam Pro", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #060606;
}

button,
input,
select,
textarea {
  font: inherit;
}

a {
  color: inherit;
}

/* End basic CSS override */
.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: .3rem;
  width: 100%;
  width: 90px;
  height:120px;
  background-color: #1b2028;
  border-radius: 16px;
  position: relative;
  border: 3px solid transparent;
  background-clip: padding-box;
  text-align: center;
  color: #f1f3f3;
  background-image: linear-gradient(135deg, rgba(117, 46, 124, 0.35), rgba(115, 74, 88, 0.1) 15%, #1b2028 20%, #1b2028 100%);
}
.profile:after {
  content: "";
  display: block;
  top: -3px;
  left: -3px;
  bottom: -3px;
  right: -3px;
  z-index: -1;
  position: absolute;
  border-radius: 16px;
  background-image: linear-gradient(135deg, #752e7c, #734a58 20%, #1b2028 30%, #2c333e 100%);
}

.profile-image {
  border-radius: 50%;
  overflow: hidden;
  width: 50px;
  height: 50px;
  margin-bottom: .5rem;
  position: relative;
}
.profile-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.profile-username {
  font-size: 0.5rem;
  font-weight: 600;
  margin-top: .2rem;
}

.profile-user-handle {
  color: #7d8396;
  font-size: 0.5rem;
}

.profile-actions {
  margin-top: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-actions > * {
  margin: 0rem;
}
@import url("https://fonts.googleapis.com/css?family=Varela+Round");
body,
html,
span {
  font-weight: 400;
  font-family: "Varela Round", sans-serif;
}

/* .box {

  justify-content: end;

} */

@import url("https://fonts.googleapis.com/css?family=Varela+Round");
body,
html,
span {
  font-weight: 400;
  font-family: "Varela Round", sans-serif;
}

.box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.type-checkbox {
  display: none;
}
.type-checkbox + label {
  display: block;
  width: 100px;
  height: 25px;
  background-color: #72159d;
  border-radius: 22px;
  box-shadow: 0px 0px 25px -3px rgba(0, 0, 0, 0.4);
  transition: all 300ms cubic-bezier(0.79, -0.01, 0.36, 1);
  cursor: pointer;
  position: relative;
}
.type-checkbox + label span {
  position: absolute;
  color: white;
  font-size: 12px;
  font-family: "Varela Round", sans-serif;
}
.type-checkbox + label span.aprobado {
  top: 50%;
  transform: translateY(-50%);
  left: 2.2em;
  -webkit-animation: left-check 300ms ease-in-out;
          animation: left-check 300ms ease-in-out;
}
@-webkit-keyframes left-check {
  0% {
    opacity: 0;
    left: 5em;
  }
  100% {
    opacity: 1;
    left: 2.5em;
  }
}
@keyframes left-check {
  0% {
    opacity: 0;
    left: 5em;
  }
  100% {
    opacity: 1;
    left: 2.5em;
  }
}
.type-checkbox + label span.desaprobado {
  top: 50%;
  transform: translateY(-50%);
  right: 2.3em;
  display: none;
  -webkit-animation: right-check 300ms ease-in-out;
          animation: right-check 300ms ease-in-out;
}
@keyframes left-check {
  0% {
    opacity: 0;
    right: 5em;
  }
  100% {
    opacity: 1;
    right: 1.3em;
  }
}
.type-checkbox + label:before {
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 0px 25px -3px rgba(0, 0, 0, 0.4);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: 75px;
  transition: left 300ms cubic-bezier(0.79, -0.01, 0.36, 1);
}
.type-checkbox:checked + label {
  background-color: #29a1b6;
}
.type-checkbox:checked + label span.aprobado {
  display: none;
}
.type-checkbox:checked + label span.desaprobado {
  display: block;
}
.type-checkbox:checked + label:before {
  left: 8px;
}

.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}
button {
  margin: 20px;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}



/* 15 */
.btn-15 {
  background: #b621fe;
  border: none;
  z-index: 1;
}
.btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #663dff;
  border-radius: 5px;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}
.btn-15:hover {
  color: #fff;
}
.btn-15:hover:after {
  left: 0;
  width: 100%;
}
.btn-15:active {
  top: 2px;
}
.fa-solid.fa-check
{
 color: aqua;
 height:25px;
 width:45px;
 cursor: pointer;
}
.fa-solid.fa-xmark
{
 color: rgb(255, 0, 0);
 height:25px;
 width:45px
}
.fa-solid.fa-ban
{
 color: rgb(255, 0, 0);
 height:25px;
 width:45px;
 cursor: pointer;
}
.profile-image {
  border-radius: 50%;
  overflow: hidden;
  width: 45px;
  height: 45px;
  float: left;
  margin-bottom: .5rem;
  position: relative;
}

.profile-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.profile-username {
  font-size: 0.8rem;
  font-weight: 600;
  color: #f1f3f3;
  height: 23px;
  float: left;
  margin-left: 12px;
}
.friend-username {
  font-size: 0.8rem;
  font-weight: 600;
  color: #f1f3f3;
  height: 23px;
  float: left;
  margin-left: 20px;
  margin-top: 12px;
}
.fa-circle
{
  color: chartreuse;
  margin-left: 10px;
}

.friend-Box{
  margin-top: 20px;
  border-style: solid;
  background-color: currentColor;
  width:auto;
  min-width:250px;
  cursor:pointer;
  margin-left: 25px;
  border-radius: 10px;
}

