

.card {
  height: 250px;
  width: 250px;
  border-radius: 10px;
  background-color: #262626;
  transition: background 0.8s;
  overflow: hidden;
  box-shadow: 0 70px 63px -60px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 25px;
}

.card0 {}

.card0:hover {}

.card0:hover h2 {
  opacity: 1;
}

.card0:hover .fa {
  opacity: 1;
}
.card0 i.fa-steam-symbol {
  display: none; /* Hide the i element by default */
}

.card0:hover i.fa-steam-symbol{
  display: block; /* Show the i element when the card is being hovered over */
}

.card1:hover h2 {
  opacity: 1;
}

.card1:hover .fa {
  opacity: 1;
}



h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #a23333;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: 6px;
  opacity: 0;
  transition: opacity 1s;
  cursor: default;
}

.fa {
  opacity: 0;
  transition: opacity 1s;
}

.icons {
  position: absolute;
  fill: #fff;
  color: #fff;
  height: 130px;
  top: 135px;
  left: 5px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


.con{
  height: 150px;
  width: auto ;
  border-radius: 20px;
  color: rgb(249, 250, 250);
  background-color: #262626;
}
.con-header{
  padding-top: 12px;
  margin-left: 25px;
  font-size: larger;
  font-weight: 300;
}


.fa-steam{
  color:#1d5cea;
  position: absolute;
  margin-top: 26px;
  margin-left: 23px;
}

.fa-battle-net{
  color:#2563eb;
  position: absolute;
  font-size: 45px;
  margin-top: 26px;
  margin-left: 23px;
}
.fa-twitch{
  color:#9146FF;
  position: absolute;
  font-size: 45px;
  margin-top: 26px;
  margin-left: 23px;
}
.fa-discord{
  color:#9146ff94;
  position: absolute;
  font-size: 45px;
  margin-top: 26px;
  margin-left: 23px;
}
.fa-xbox{
  color:white;
  position: absolute;
  font-size: 45px;
  margin-top: 26px;
  margin-left: 23px;
}
