<div class="con">
  <div class="con-header">
    Link Accounts to Your Profile
  </div>
   <div class="row" style="color: white;width:30rem">
    <!--change the width to fit more icons -->
    <div class="col-sm">
      <ng-container *ngIf="ownProfile; else elseblock">
        <i class="fa-brands fa-steam fa-3x" (click)="linked ? null : redirectToSteamLogin()"
          [ngClass]="{'disabled': linked}" [style.cursor]="linked ? 'default' : 'pointer'"></i>
      </ng-container>
      <ng-template #elseblock>
        <i class="fa-brands fa-steam fa-3x"></i>
      </ng-template>
    </div>
    <div class="col-sm">
      <ng-container *ngIf="ownProfile; else elseblock">
        <i class="fa-brands fa-twitch" (click)="redirectToTwitchLogin()" style="cursor: pointer;" ></i>
      </ng-container>
      <ng-template #elseblock>
        <i class="fa-brands fa-twitch"></i>
      </ng-template>
    </div>
    <div class="col">
      <i class="fa-brands fa-battle-net"></i>
    </div>
    <div class="col-sm ">
      <i class="fa-brands fa-discord"></i>
    </div>
    <div class="col-sm ">
      <i class="fa-brands fa-xbox"></i>
    </div>
  </div>
</div>


<ng-container>
  <div class="row">
    <ng-container *ngIf="linked">
    <div class="col-md-auto">
        <div class="card card0 " [ngStyle]="{ background: getStyle(),backgroundSize: getSize()}"
          (mouseover)="changeText = true" (mouseout)="changeText = false">
          <h2>{{steamInfo?.info[0]?.personaname }}</h2>
          <div class="icons" style="cursor: pointer;" (click)="redirectToSteamProfile()">
              <i class="fa-brands fa-steam-symbol fa-2x" aria-hidden="true" style="transition: all 0.3s ease;color:#3b82f6"  ></i>
          </div>
        </div>
    </div>
  </ng-container>

  <ng-container *ngIf="twitchdata">
    <div class="col-md-auto">
      <div class="card">
        <span>{{twitchdata.id}}</span>
        <span>{{twitchdata.display_name}}</span>
        <span>{{twitchdata.email}}</span>
        <!-- <img [src]="twitchdata.profile_image_url" alt=""> -->
        <h2>{{steamInfo?.info[0]?.personaname }}</h2>
        <div class="icons" style="cursor: pointer;" (click)="redirectToTwitchProfile()">
            <i class="fa-brands fa-twitch fa-2x" aria-hidden="true" style="transition: all 0.3s ease;color:#3b82f6"  ></i>
        </div>
    </div>
  </div>
  </ng-container>
  </div>
</ng-container>

