<div class="con">
  <h1>Securely Link Accounts to Your Profile</h1>
  <ng-container *ngIf="ownProfile; else elseblock">
    <a #link type="button" [href]="generateUrl()" style="display:none;"></a>
    <i class="fa-brands fa-steam fa-3x"
      (click)="linked ? null : link.click()"
      [ngClass]="{'disabled': linked}"
      [style.cursor]="linked ? 'default' : 'pointer'"></i>

      <i class="fa-brands fa-battle-net"></i>
  </ng-container>
  <ng-template #elseblock>
    <i class="fa-brands fa-steam fa-3x"  style="cursor: pointer;"></i>
    <i class="fa-brands fa-battle-net"></i>
  </ng-template>
</div>

<ng-container *ngIf="linked">
  <div class="row">
    <div class="col">
      <div class="col">
        <div class="card card0 " [ngStyle]="{ background: getStyle(),backgroundSize: getSize()}"
          (mouseover)="changeText = true" (mouseout)="changeText = false">
          <h2>{{steamInfo?.info[0]?.personaname }}</h2>
          <div class="icons">
            <a type="button" href="https://steamcommunity.com/profiles/{{steamId}}" target="_blank">
              <i class="fa fa-steam fa-2x" aria-hidden="true" style="top: 30px;right: 15px;"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
