/* steamInfo.info[0].avatarfull */
/* [ngStyle]="{'background-image': getUrl()} */
:root {}

.container {
  height: 100vh;
  width: 100vw;
  max-height: 800px;
  max-width: 1280px;
  min-height: 600px;
  min-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.card {
  height: 250px;
  width: 250px;
  background: #808080;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: #000;
  box-shadow: 0 70px 63px -60px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card0 {}

.card0:hover {}

.card0:hover h2 {
  opacity: 1;
}

.card0:hover .fa {
  opacity: 1;
}

h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #a23333;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: 6px;
  opacity: 0;
  transition: opacity 1s;
  cursor: default;
}

.fa {
  opacity: 0;
  transition: opacity 1s;
}

.icons {
  position: absolute;
  fill: #fff;
  color: #fff;
  height: 130px;
  top: 150px;
  left: 6px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


.con{
  height: 150px;
  width: auto ;
  border-radius: 20px;
  color: rgb(249, 250, 250);
  background-color: #262626;
}

h1{
  position: absolute;
  margin-top: 0.8rem;
  margin-left: 1rem;
  font-size: larger;
}

.fa-steam{
  color:#4e7aaf;
  position: absolute;
  margin-top: 4.5rem;
  margin-left: 1rem;
}

.fa-steam :nth-child(1){
  position: absolute;
  fill: #fff;
  color: #fff;
  height: 130px;
  top: 150px;
  left: 6px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.col :nth-child(1){
  margin-top: 20px;

}

.fa-battle-net{
  color:#4e7aaf;
  position: absolute;
  font-size: 45px;
  margin-top: 4.5rem;
  margin-left: 5rem;
}

