<div class="con">
  <h1>Securely Link Accounts to Your Profile</h1>
  <ng-container *ngIf="ownProfile; else elseblock">
    <i class="fa-brands fa-steam fa-3x"
      (click)="linked ? null : redirectToSteamLogin()"
      [ngClass]="{'disabled': linked}"
      [style.cursor]="linked ? 'default' : 'pointer'"></i>
      <i class="fa-brands fa-battle-net"></i>
  </ng-container>
  <ng-template #elseblock>
    <i class="fa-brands fa-steam fa-3x"  style="cursor: pointer;"></i>
    <i class="fa-brands fa-battle-net"></i>
  </ng-template>
</div>

<ng-container *ngIf="linked">
  <div class="row">
    <div class="col">
      <div class="col">
        <div class="card card0 " [ngStyle]="{ background: getStyle(),backgroundSize: getSize()}"
          (mouseover)="changeText = true" (mouseout)="changeText = false">
          <h2>{{steamInfo?.info[0]?.personaname }}</h2>
          <div class="icons" style="cursor: pointer;" (click)="redirectToSteamProfile()">
              <i class="fa-brands fa-steam-symbol fa-2x" aria-hidden="true" style="transition: all 0.3s ease;color:#3b82f6"  ></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
