<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css">
<div>
  <!-- <pre class="card card-block card-header mb-3">Model: {{selected | json}}</pre> -->
<input [(ngModel)]="selected"
       [typeahead]="searchResults"
       [isAnimated]="true"
       class="form-control" placeholder="Search" (keyup)="getUsers()">
      <div *ngFor="let user of searchResults" (click)="onclick(user.id)">
        <div class="col">
          <article class="profile">
          <div class="profile-image">
            <img [src]="user.dp" />
          </div>
          <h2 class="profile-username">{{user.name}}</h2>
          <small class="profile-user-handle"></small>
          <div class="profile-actions"></div>
        </article>
        </div>
      </div>

</div>

