<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css">
<div>
  <!-- <pre class="card card-block card-header mb-3">Model: {{selected | json}}</pre> -->
<input [(ngModel)]="selected"
       class="form-control" placeholder="Search" (keyup)="getUsers()">
      <div class="searchResults" #dropdown>
      <div class="row" *ngFor="let user of searchResults" (click)="onclick(user.id)">
        <div class="col">
          <div class="profile-image">
            <img [src]="user.profilePicture" referrerpolicy="no-referrer" />
          </div>
          <div class="profile-username">{{user.name}}</div>
        </div>
      </div>
    </div>
</div>





